<div class="form">
    <div class="header col">
      <div style="align-self: self-end">
        <br>
        <h2 class=" title" style="align-items: center;">Edit Compliance Penalty master
          </h2>
      </div>
    </div>
    <div class="button">
        <button class="Custom_button"  (click)="Back()" >Back</button>
        </div>
    <form [formGroup]="UpdateForm" (ngSubmit)="SubmitUpdateForm()"> 
        <mat-horizontal-stepper labelPosition="bottom">

            <mat-step label="Add Compliance-Penalty" state="chat">
                <br>
              <br>
              <div class="row">
                <div class="box">
                  <dx-select-box 
                  formControlName="actid"
                  label="Select Act Name*"
                  labelMode="floating"
                  valueExpr="actregulatoryid"
                  displayExpr="actregulatoryname"
                  [dataSource]="actname"
                  height="40px"
                  [searchEnabled]="true"
                  selectionMode="single" 
                 placeholder=""
                 (onValueChanged)="getRules($event)"
                 disableOptionCentering >
            </dx-select-box>
        
                </div>
              
                <div class="box">
                    <dx-select-box 
                    formControlName="ruleid"
                    placeholder="Select Rule name *"
                    labelMode="floating"
                    valueExpr="act_rule_regulatory_id"
                    displayExpr="act_rule_name"
                    [dataSource]="rulename"
                    height="40px"
                    [searchEnabled]="true"
                    selectionMode="single" 
            
                   disableOptionCentering >
              </dx-select-box>
                
                </div>
                </div>
                <br>
                <div class="row">
                    <div class="box">
                      <dx-select-box 
                      formControlName="penalty"
                      label="Select Penalty category*"
                      labelMode="floating"
                      valueExpr="penalty_category_id"
                      displayExpr="penalty_category_name"
                      [dataSource]="penalty"
                      height="40px"
                      [searchEnabled]="true"
                      selectionMode="single" 
                     placeholder=""
                     disableOptionCentering >
                </dx-select-box>
            
                    </div>
                    <div class="box">
                        <mat-form-field  appearance="fill" class="form-field">
                          <mat-label>Application Selections /Rules/Regulation Reference</mat-label>
                          <input matInput  #titleinput5   formControlName="applicationselectionrule"   maxlength="100" >
                          <mat-hint align="start" >Min 1 - Max 100 Characters</mat-hint>
                          <mat-hint align="end">{{titleinput5.value.length}}/100</mat-hint>
                        </mat-form-field>
                      </div>
                </div>
                <br>
                <div class="row">
                    
                    <div class="box">
                        <mat-form-field  appearance="fill" class="form-field">
                            <mat-label>penalty Description</mat-label>
                            <textarea matInput   #titleinput4  formControlName="penaltydesc" maxlength="1500" ></textarea>
                            <mat-hint align="start" >Min 1 - Max 1500 Characters</mat-hint>
                            <mat-hint align="end">{{titleinput4.value.length}}/1500</mat-hint>
                          </mat-form-field>
                    </div>
                    <div class="box">
                      <mat-form-field  appearance="fill" class="form-field">
                        <mat-label>Minimum Penalty</mat-label>
                        <input matInput   #titleinput3 formControlName="minpenalty"   maxlength="100">
                        <mat-hint align="start" >Min 1 - Max 250 Characters</mat-hint>
                        <mat-hint align="end">{{titleinput3.value.length}}/250</mat-hint>
                      </mat-form-field>
                    </div>
                      
                </div>
                <div class="row">
    
                  
                      <div class="box">
                        <mat-form-field  appearance="fill" class="form-field">
                          <mat-label>Maximum Penalty</mat-label>
                          <input matInput  #titleinput formControlName="maxpenalty"   maxlength="100"  >
                          <mat-hint align="start" >Min 1 - Max 250 Characters</mat-hint>
                            <mat-hint align="end">{{titleinput.value.length}}/250</mat-hint>
                        </mat-form-field>
                      </div>
    
                    <div class="box">
                      <mat-form-field  appearance="fill" class="form-field">
                        <mat-label>Additional Reference to Penalty Provision</mat-label>
                        <input matInput   #titleinput1 formControlName="additionalrefernce"  maxlength="250" >
                        <mat-hint align="start" >Min 1 - Max 250 Characters</mat-hint>
                        <mat-hint align="end">{{titleinput1.value.length}}/250</mat-hint>
                      </mat-form-field>
                    </div>
                </div>
                <div class="button">
                    <button class="Custombutton" matStepperNext type="button">Next</button>
                    </div>
              </mat-step>
              <mat-step label="Add Additional Reference" state="chat">
                <br>
                <div>
                    <h3>
                      <label>Add Bare Rule Reference</label>
                    </h3>
                  </div>
                  <div formArrayName="references">
                    <div *ngFor="let reference of references.controls; let key = index;">
                      <div [formGroupName]="key"> 
                        <div class="row">
                          <div class="box">
                            <mat-form-field appearance="fill" class="form-field">
                              <mat-label>Select Option</mat-label>
                              <mat-select formControlName="referenceType" (selectionChange)="onReferenceTypeChange($event.value, key)">
                                <mat-option value="weblink">Weblink</mat-option>
                                <mat-option value="file">File Attachment</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="form-field" *ngIf="reference.get('referenceType')?.value === 'weblink'">
                              <mat-label>Weblink</mat-label>
                              <input formControlName="referencetypeValue" matInput (change)="onweblink($event, key)"  >
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="form-field" *ngIf="reference.get('referenceType')?.value === 'file'">
                              <mat-label>File Attachment</mat-label>
                              <div class="file-input-container">
                                <input matInput formControlName="file_attachment" [value]="reference.get('file_attachment')?.value" readonly style="width: auto;">
                                <label class="file-input-button" >
                                 Attach
                                  <input type="file" accept=".pdf,.doc,.docx,image/jpeg,image/png" (change)="onMainFileSelected($event, key)" >
                                </label>
                              </div>
                            </mat-form-field>
                            <div>
                              <label class="CustomLabel" (click)="removeReferenceField(key,reference.value.compliance_filepenalty_id)">Remove</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="file-input-button" type="button" (click)="addReferenceField()">Add More</button>
                
                  <div class="margin-top"></div>
                        <div class="button">
                          <button class="grey-button"  (click)="Cancel()" >cancel</button>
                        <button  class="Custom_button"  type="submit" >Update</button>
                        </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>

