<!-- List of Inspections Created by Admin -->


<div class="form">
  <!-- app.component.html or your desired template file -->
<!-- <mat-toolbar color="primary">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-icon-button (click)="goForward()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</mat-toolbar> -->

  <div class="header col">
    <div style="align-self: self-end">
      <h1 class=" title">Publish New 
        Document</h1>
 
        <!-- <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper> -->
          <mat-horizontal-stepper  labelPosition="bottom" #stepper>

            <!-- <mat-step label="Document Nomenclature" state="phone" [completed]="isStep1Completed"> -->
              <mat-step label="Document Nomenclature" state="phone" >
            <form [formGroup]="form1" >
            <br>
            <div class="box">

              <!-- <dx-select-box 
              formControlName="Entity_Master_id"
              label="Select Entity Name*"
              labelMode="floating"
              valueExpr="entity_Master_id"
              displayExpr="entity_Master_Name"
              [dataSource]="EntityNameDB"
                
              selectionMode="single" 
             placeholder=""
             (onValueChanged)="getUnitLocation($event)">
             
           
              </dx-select-box> -->
      
              <dx-drop-down-box
              formControlName="Entity_Master_id" 
             [(value)]="SelectedEntity"
                [inputAttr]="{ 'aria-label': 'Owner' }"
                valueExpr="entity_Master_id"
              displayExpr="entity_Master_Name"
                [deferRendering]="false"
                label="Select Entity Name*"
                labelMode="floating"
                [showClearButton]="true"
                style="height: 155%;"   
                [dataSource]="EntityNameDB"   
                (onValueChanged)="getUnitLocation($event)"             
              >
              <div *dxTemplate="let data of 'content'">
                <dx-data-grid
                [dataSource]="EntityNameDB"
                  [columns]="EntityColumns"
                  [hoverStateEnabled]="true"
                 
                  [(selectedRowKeys)]="SelectedEntity"
                  height="100%"
                >
                  <dxo-selection mode="multiple"></dxo-selection>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxo-scrolling mode="virtual"></dxo-scrolling>
                  <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                </dx-data-grid>
              </div>
            </dx-drop-down-box>

          <!-- <dx-select-box 
          formControlName="Unit_location_Master_id"
          label="Select Unit Location*"
          labelMode="floating"
          valueExpr="unit_location_Master_id"
          displayExpr="unit_location_Master_name"
          [dataSource]="UnitMaster"
          [(value)]="Selectedunit"
          selectionMode="multiple" 
         placeholder=""
         [searchEnabled]="true"
           >
       
    </dx-select-box> -->
            
          <dx-drop-down-box
          formControlName="Unit_location_Master_id" 
        [(value)]="Selectedunit"
            [inputAttr]="{ 'aria-label': 'Owner' }"
            valueExpr="unit_location_Master_id"
          displayExpr="unit_location_Master_name"
            [deferRendering]="false"
            label="Select Unit Location*"
            labelMode="floating"
            [showClearButton]="true"
            style="height: 155%;"   
            [dataSource]="UnitLocationMaster"                
          >
          <div *dxTemplate="let data of 'content'">
            
            <dx-data-grid
            [dataSource]="UnitLocationMaster"
              [columns]="UnitLocationColumns"
              [hoverStateEnabled]="true"
              [showBorders]="true"
              [(selectedRowKeys)]="Selectedunit"
              height="100%"
              
            >
            <dxi-column dataField="entity_Master_Name" caption="Entity"   [groupIndex]="0"></dxi-column>
            <dxi-column dataField="unit_location_Master_name" caption="Location"></dxi-column>
            
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-selection mode="multiple"></dxo-selection>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-group-panel 
        [visible]="true" [allowColumnDragging]="false"></dxo-group-panel>
        <dxo-grouping #expand expandMode="rowClick"></dxo-grouping>
            </dx-data-grid>
          </div>
        </dx-drop-down-box>

             </div>

            <br>
            <div class="box">
              <div>
                <dx-select-box 
                formControlName="DocTypeID"
                label="Select Document Type"
                labelMode="floating"
                valueExpr="docTypeID"
                displayExpr="docTypeName"
                [dataSource]="DocumentTypeData"
                selectionMode="single" 
                [searchEnabled]="true"
               placeholder=""
               [disabled]="true"
                (onValueChanged)="getDocCategory($event)" >
             
          </dx-select-box>
          </div>
           
           
          <div>

            <dx-select-box 
             formControlName="Doc_CategoryID"   
            label="Select Document Category"
            labelMode="floating"
            valueExpr="doc_CategoryID"
            displayExpr="doc_CategoryName"
            [dataSource]="DocumentCategoryData"
            selectionMode="single" 
           placeholder=""
           (onValueChanged)="getsubCategory($event)"
           [(value)]="SelectedDocType"
           [searchEnabled]="true"
            >
         
      </dx-select-box>

          
        </div>
          </div>
          <br>
          
            <div class="box">
              <div>

                <dx-select-box 
                formControlName="Doc_SubCategoryID"
                label="Select Document Sub Category"
                labelMode="floating"
                valueExpr="doc_SubCategoryID"
                displayExpr="doc_SubCategoryName"
                [dataSource]="DocumentSubCategoryData"
                selectionMode="single" 
               placeholder=""
               (onValueChanged)="getNotifiersDetails($event)"
               [(value)]="SelectedDocCategory"
               [searchEnabled]="true"
          >
             
          </dx-select-box>


                
            </div>
          
            <div fxLayoutAlign="center center">
              <div class="box">
              <mat-form-field appearance="fill" class="form-field">
                
                <mat-label>Title of Document </mat-label>
                 <input matInput  #titleinput minlength="5" maxlength="100"  formControlName="Title_Doc" required />
                 <!-- <div *ngIf="myForm.get('Title_Doc').hasError('required') && myForm.get('Title_Doc').touched">
                  title of Document is required.
                </div> -->
                <mat-hint align="start" >Min 5 - Max 100 Characters</mat-hint>
                <mat-hint align="end">{{titleinput.value.length}}/100</mat-hint>
              </mat-form-field>
            </div>
          </div>
          </div>
        <div class="box">
          <div fxLayoutAlign="center center">
            <div class="box">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>Sub Title of Document </mat-label>
                <textarea matInput #subtitleinput minlength="5" maxlength="100" formControlName="Sub_title_doc" style="min-height: 50px;" ></textarea>

                 <mat-hint align="start">Min 5 - Max 100 Characters</mat-hint>
                 <mat-hint align="end">{{subtitleinput.value.length}}/100</mat-hint>
              </mat-form-field>
            </div>
          </div>
      
          <div fxLayoutAlign="center center">
            <div class="box">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>Objective of Document </mat-label>
                <textarea  matInput #Obj_Doc minlength="5" maxlength="1500"  
                formControlName="Obj_Doc" required style="min-height: 50px;overflow: auto;"
                (input)="onInput()" ></textarea>
                <mat-hint align="start">Min 5 - Max 1500 Characters</mat-hint>
                <mat-hint align="end">{{Obj_Doc.value.length}}/1500</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- <div class="box">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select Option</mat-label>
            
            <mat-select
                formControlName="Select_Opt"
              (selectionChange)="selectOption($event)" required
              disableOptionCentering>
              <mat-option *ngFor="let element of project" [value]="element.name">{{
                element.name
              }}</mat-option>
            </mat-select>
           
          </mat-form-field>
          <div></div>
          </div>
          <div class="upload-container" *ngIf="showUpload">
            <input type="file" [accept]="allowedFileTypes" (change)="onFileSelected($event)" multiple class="form-control mb-2">
            <div *ngIf="errorMessages.length > 0">
              <div *ngFor="let message of errorMessages" style="color: red;">{{ message }}</div>
            </div>
            <div *ngIf="selectedFiles.length > 0" class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">File Name</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let file of selectedFiles; let i = index">
                    <td>{{ file.name }}</td>
                    <td>
                      <button (click)="removeFile(i)" class="btn btn-danger btn-sm">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->
          
            <div class="button">
              
               <button class="Custombutton" matStepperNext type="button" (click)="stepperNav1()">Next</button>
            </div>
            </form>
       
          </mat-step>
          <!-- <mat-step [completed]="isStep2Completed"> -->
          <mat-step >
            <ng-template matStepLabel>Create Document </ng-template>
           
            <div class="container">
              <div class="row">
                               <div class="col-md-6">
                  <div class="file-section">
                    <h3>Main Document Upload <span class="required-asterisk">*</span></h3>
                    <input type="file" [accept]="FileTypes" 
                    (change)="onMainFileSelected($event)" #mainFileInput required>
                
                    <div class="note" style="margin-top: 8px;  font-size: 16px;">
                    <span class="note"
                    >Allowed 1 file(max <span>{{ maxSize }}</span>MB) <span>{{ FileTypes }}</span></span>
                  
                    <div *ngIf="mainErrorMessage" class="error-message">{{ mainErrorMessage }}</div>
                  </div>
          </div>
                  <div class="file-section">
                    <h3>Supported Files</h3>
                    <input type="file" [accept]="allowedFileTypes" (change)="onFileSelected($event)" #supportFilesInput multiple [disabled]="!isMainFileUploaded">
                    <div class="note" style="margin-top: 8px; font-size: 16px;">
                      <label for="supportFilesInput">Selected Documents: {{ selectedFiles.length }}</label>
                      <div *ngFor="let file of selectedFiles">
                        <div>{{ file.name }}</div>
                      </div><br>
                      <div style="margin-top: 10px;"></div>
                    <span class="note" style="font-size: 16px;">Allowed Maximum <span>{{ maxDocuments }}</span> files(max <span>{{ maxSizeInMB }}</span>MB) <span>{{ allowedFileTypes }}</span></span>
                  
                    <div *ngIf="errorMessages.length > 0">
                      <div *ngFor="let message of errorMessages" style="color: red;">{{ message }}</div>
                    </div>
                    </div>
                  </div>
                </div>
          
                <!-- Right Column for File Names and Actions -->
                <div class="col-md-6">
                  <div *ngIf="mainFile" class="file-display">
                    <h6>Main Document</h6>
                    <div class="file-details">
                      <span>{{ mainFile.name }}</span>
                      <button mat-mini-fab color="warn" (click)="removeMainFile()">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  
                  <div *ngIf="selectedFiles.length > 0" class="files-display">
                    <h6>Supported Files</h6>
                    <div *ngFor="let file of selectedFiles; let i = index" class="file-display">
                      <span>{{ file.name }}</span>
                      <button mat-mini-fab color="warn" (click)="removeFile(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- Button Section -->
            <div class="button">
              <button class="grey-button" matStepperPrevious type="button">Back</button>
            <button class="Custombutton"  (click)="SaveDraft()">Save Draft</button>
              <button class="Custombutton"  (click)="SecondStepperDiscard()">Discard</button>
              <button class="Custombutton" matStepperNext type="button" (click)="stepperNav4()">Next</button>
           
             
            </div>
           
          </mat-step>
          
          <!-- <mat-step  label="Add Document Attributes" state="chat" [completed]="isStep3Completed"> -->
         <mat-step  label="Add Document Attributes" state="chat">
            <br>
            <br>
            <form [formGroup]="form2" >
          <div class="box">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Select Document Confidentiality</mat-label>
        
              
                <mat-select
                formControlName="Doc_Confidentiality"
                (selectionChange)="selectDocConfidentiality($event)" required
                disableOptionCentering  >
             <mat-option *ngFor="let element of project1" [value]="element.name" style="font-size: 16px;">{{
                element.name
              }}</mat-option>
            </mat-select>
          

            </mat-form-field>
         
         <div fxLayoutAlign="center center" *ngIf="phoneno">
          <div class="box">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Choose OTP Delivery Method</mat-label>
              <mat-select 
              
              matInput 
               disableOptionCentering 
                formControlName="OtpMethod" >
                  <mat-option value="mobile" disabled style="font-size: 16px;">OTP on Mobile</mat-option>
                  <mat-option value="email" style="font-size: 16px;" >OTP on Email</mat-option>
                  <mat-option value="both" disabled style="font-size: 16px;">OTP on both Mobile and Email</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        </div>
<div class="box">
        <div fxLayoutAlign="center center">
          <div class="box">

        <dx-date-box
        formControlName="Eff_Date"
        placeholder=""
        label="Select Effective Date"
        labelMode="floating"
        [showClearButton]="true"
        [useMaskBehavior]="true"
        displayFormat="dd/MMM/yyyy"
        type="date"
       
      
        required
      >
      </dx-date-box>
          </div>
        </div>
        <div fxLayoutAlign="center center">
          <div class="box">

            <dx-date-box
            formControlName="Initial_creation_doc_date"
            placeholder=""
            label="Date of Initial Creation Of Document"
            labelMode="floating"
            [showClearButton]="true"
            [useMaskBehavior]="true"
            displayFormat="dd/MMM/yyyy"
            type="date"
            [max]="form2.get('Eff_Date').value"
           
           
          >
          </dx-date-box>
          </div>
        </div>
      </div>
      <br>
      <div class="box">
        <div fxLayoutAlign="center center">
          <div class="box">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Document Internal Number</mat-label>
              <input matInput formControlName="Doc_internal_num"  />
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="center center">
          <div class="box">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Document Internal Version Number</mat-label>
              <input matInput formControlName="Doc_Inter_ver_num"  />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="box">
        <div fxLayoutAlign="center center">
        
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Document Physical Vault Location</mat-label>
              <input matInput formControlName="Doc_Phy_Valut_Loc" />
            </mat-form-field>
          </div>
        
      
          <div class="box">
        <mat-form-field appearance="fill" class="form-field" >
          <mat-label>Select Type</mat-label>
          
        
          
            <mat-select
            [(value)]="selectedprocessownerType"
            (selectionChange)="selectProcessOwner($event)" 
            disableOptionCentering  
            >
         <mat-option *ngFor="let type of processowner" [value]="type.id" style="font-size: 16px;" >{{
            type.name
          }}</mat-option>
        </mat-select>
      

        </mat-form-field>
        <div fxLayoutAlign="center center" *ngIf="TextBox">
          <div class="box">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label> Document Process Owner</mat-label>
              <input matInput   (change)="OnTextboxChange($event)"  />
            </mat-form-field>
          </div>
        </div>
        <div  fxLayoutAlign="center center" *ngIf="DropdownBox">
          <div class="box" >
            <div class="dx-field-value" > 
              <dx-drop-down-box
              [dropDownOptions]="{width: '555px'}"
               label="Select Document Process Owner"
              
              labelMode="floating"
              [deferRendering]="false"
              [displayExpr]="gridBox_displayExpr"
               [(value)]="gridBoxValue"
               [(opened)]="isUserBoxOpened" 
               valueExpr="usR_ID"
                 (onOptionChanged)="onGridBoxOptionChanged($event)"
         
               [inputAttr]="{ 'aria-label': 'Owner' }"
               [showClearButton]="true"
               [dataSource]="Userinfo"
             
             >
               <div *dxTemplate="let data of 'content'" >
                 <dx-data-grid

                 [dataSource]="Userinfo"
                 [columns]="usergridColumns"
                 [hoverStateEnabled]="false"
                 [(selectedRowKeys)]="gridBoxValue"
                 height="100%"
                 (onSelectionChanged)="onSelectionProcessOwnerChanged($event)"
               >
                 <dxo-selection mode="multiple"></dxo-selection>
                 <dxo-filter-row [visible]="true"></dxo-filter-row>
                 <dxo-scrolling mode="virtual"></dxo-scrolling>
                 <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>



                 </dx-data-grid>
               </div>
             </dx-drop-down-box>
         </div>
 
            <!-- <mat-form-field appearance="outline" class="form-field">
              <mat-label>Select Document Process Owner</mat-label>
              <mat-select
              formControlName="Doc_process_Owner"
              (selectionChange)="selectInspection($event)"
            >
              
            </mat-select>
            </mat-form-field> -->
          </div>
        </div>
</div>


       </div>
       <div class="box">
        <div class="box">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Select Type</mat-label>
  
            <mat-select
             [(value)] ="selecteddocapproverType"
            (selectionChange)="selectdocApprover($event)" 
            disableOptionCentering  >
         <mat-option *ngFor="let type of docapprover" [value]="type.id">{{
            type.name
          }}</mat-option>
        </mat-select>
   
        </mat-form-field>
        <div fxLayoutAlign="center center" *ngIf="TextBox2">
          <div class="box">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label> Document Approver</mat-label>
              <input matInput  (change)="OnDocApproverChange($event)" />
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="center center" *ngIf="DropdownBox2">
          <div class="box">

                <div class="dx-field-value">
                  <dx-drop-down-box
                  formControlName="Doc_Approver"

                  [dropDownOptions]="{width: '555px'}"
                  label="Select Document Approver"
                  labelMode="floating"
                  [deferRendering]="false"
                  [displayExpr]="docApprover_displayExpr"
                   [(value)]="gridBoxValue1"
                   [(opened)]="isUserBoxOpened1" 
                   valueExpr="usR_ID"
                   (onOptionChanged)="onGridBoxOptionChanged1($event)"
         
                   [inputAttr]="{ 'aria-label': 'Owner' }"
                   [showClearButton]="true"
                   [dataSource]="Userinfo"
                  
                 >
                   <div *dxTemplate="let data of 'content'">
                     <dx-data-grid
                     [dataSource]="Userinfo"
                       [columns]="usergridColumns"
                       [hoverStateEnabled]="true"
                       [(selectedRowKeys)]="gridBoxValue1"
                       (onSelectionChanged)="onGridBoxSelectionChanged($event)"
                       height="100%"
                     >
                       <dxo-selection mode="multiple"></dxo-selection>
                       <dxo-filter-row [visible]="true"></dxo-filter-row>
                       <dxo-scrolling mode="virtual"></dxo-scrolling>
                       <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                     </dx-data-grid>
                   </div>
                 </dx-drop-down-box>
             </div>


            <!-- <mat-form-field appearance="outline" class="form-field">
              <mat-label>Select Document Approver</mat-label>
              <mat-select
              formControlName="Doc_Approver"
              (selectionChange)="selectInspection($event)"
            >
              
            </mat-select>
            </mat-form-field> -->
          </div>
        </div>
</div>

      <div fxLayoutAlign="center center">
        <div class="box">
          <!-- <mat-form-field appearance="fill" class="form-field">
            <mat-label>Date of Document Approval</mat-label>
            <input matInput formControlName="Date_Doc_Approver"  type="date" [max]="form.get('Eff_Date').value" />
          </mat-form-field> -->

          <dx-date-box
            formControlName="Date_Doc_Approver"
            placeholder=""
            label="Date of Document Approval"
            labelMode="floating"
            [showClearButton]="true"
            [useMaskBehavior]="true"
            displayFormat="dd/MMM/yyyy"
            type="date"
            [max]="form2.get('Eff_Date').value"
           
          >
          </dx-date-box>
        </div>
      </div>
      </div>
      <br>
      <div class="box">
      <div fxLayoutAlign="center center">
        <div class="box">
          <!-- <mat-form-field appearance="fill" class="form-field">
            <mat-label>Date of Document Last Revision</mat-label>
            <input matInput formControlName="Date_Doc_Revision" type="date" [max]="form.get('Eff_Date').value"/>
          </mat-form-field> -->

          <dx-date-box
          formControlName="Date_Doc_Revision"
          placeholder=""
          label="Date of Document Last Revision"
          labelMode="floating"
          [showClearButton]="true"
          [useMaskBehavior]="true"
          displayFormat="dd/MMM/yyyy"
          type="date"
          [max]="form2.get('Eff_Date').value"
         
        >
        </dx-date-box>
        </div>
      </div>
    
      <div>

       <dx-select-box 
        formControlName="AuthorityTypeID"
        label="Publishing Authority Type *"
        labelMode="floating"
        valueExpr="authorityTypeID"
        displayExpr="authorityTypeName"
        [dataSource]="AuthorityTypeData"
        selectionMode="single" 
       placeholder=""
       (onValueChanged)="getauthorityname($event)"
       [searchEnabled]="true"
        >
     
  </dx-select-box>
       
    </div>
      </div>
      <div class="box"></div>
      <br>
    

      <div class="box">
        <div>
          <dx-select-box 
          formControlName="AuthoritynameID"
          label="Name of Authority *"
          labelMode="floating"
          valueExpr="authoritynameID"
          displayExpr="authorityName"
          [dataSource]="AuthorityNameData"
          selectionMode="single" 
         placeholder=""
         [(value)]="SelectedAuthType"
         [searchEnabled]="true"

        >
       
    </dx-select-box>
         
      </div>
     
      <div>
        <dx-select-box 
        formControlName="NatureOf_Doc_id"
        label="Document Classification *"
        labelMode="floating"
        valueExpr="natureOf_Doc_id"
        displayExpr="natureOf_Doc_Name"
        [dataSource]="NatureOfDocument"
        selectionMode="single" 
       placeholder=""
       [searchEnabled]="true"
       > 
  </dx-select-box>

    </div>
      </div>
      <br>
      <div class="box">
      <div fxLayoutAlign="center center">
<div class="box">
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Keywords/tags</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
        {{tag.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input #chipListInput
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"   
             formControlName="Keywords_tags"
             >
    </mat-chip-list>
  </mat-form-field>
  
</div>
</div>
<div>
  <label>
    Select if  Document review frequency  Required ?
<input type="checkbox"  (change)="onCheckboxChange($event)" class="custom-checkbox" [(ngModel)]="isPanelVisible"  > 

  </label>
</div>
</div>
 <div class="button">
  <button class="grey-button" matStepperPrevious type="button">Back</button>
              
               <!-- <button class="grey-button"  mat-button matStepperPrevious>Back</button> -->
             <button class="Custombutton"   (click)="AttributesSaveDraft()" >Save Draft</button>
              <button class="Custombutton" (click)="ThirdStepperDiscard()" >Discard</button> 
              <!-- <button class="Custombutton" mat-button matStepperNext>Next</button> -->
              <button class="Custombutton" matStepperNext type="button"  (click)="stepperNav2()">Next</button>
              
            </div>
            </form>
          </mat-step>

          <form [formGroup]="form3" >
          <div *ngIf="isPanelVisible">
          <mat-step label="Document Review frequency"  >
           
              <div class="box">
                <div fxLayoutAlign="center center" *ngIf="TextBox1">
                  <div class="box"  >
                       <dx-number-box 
                        formControlName="freq_period"
                        [value]="1"
                        [min]="1"
                        [max]="999"
                        [showSpinButtons]="true"
                          [showClearButton]="true"
                          label="Enter Value Here"
                          labelMode="floating"
                      >
                      </dx-number-box>
             </div>
                </div>

                <div  fxLayoutAlign="center center" style="margin-top: 20px;">
                <div class="box">
<mat-form-field appearance="fill" class="form-field">
<mat-label>Select Frequency period</mat-label>

<mat-select
formControlName="freq_period_type"
(selectionChange)="SelectFrequencyPeriod($event)" 
disableOptionCentering  >
<mat-option *ngFor="let element of project4" [value]="element.name" style="font-size: 16px;">{{
element.name
}}</mat-option>
</mat-select>

</mat-form-field>
</div>
</div>

<div fxLayoutAlign="center center" >
<div class="box">
<dx-date-box 
label="Start Date for Next Review"
labelMode="floating"
[showClearButton]="true"
[useMaskBehavior]="true"
displayFormat="dd/MMM/yyyy"
type="date"
[min]="minDate"  
formControlName="review_start_Date" 
></dx-date-box>
</div>
</div>

</div>

  <div class="body">
  <h2 class="title">Notification Setup:</h2>
  <h3>Select Escalation</h3>
  <br>
  <div class="box">
    <div>
      <h3> <label>1.
          <input type="checkbox"  style="zoom: 1.5;" name="selection4"  
            [checked]="" (change)="onEscaltion($event)" [(ngModel)]="EnterDayspanelVisible">
            
        </label></h3>
    </div>
    <div>
      <h3> <label>2.
          <input type="checkbox"  style="zoom: 1.5;" name="selection4" 
            [checked]="NotifierspanelVisible" (change)="onNotifiers($event)" [(ngModel)]="NotifierspanelVisible">
            
        </label></h3>
    </div>
    <div>
      <h3> <label>3.
          <input type="checkbox"  style="zoom: 1.5;" name="selection4" 
            [checked]="" (change)="onAdditional($event)" [(ngModel)]="AdditionalpanelVisible" >
            
        </label></h3>
    </div>
</div>
<div class="box">

<div *ngIf="EnterDayspanelVisible"  style="height: 25%; width: 50%;">
<div  class="box">
 <mat-label>Before Due Date</mat-label>
</div>
<div class="box">
 <div class="row mb-2" >
    <div class="col-sm-6">
     <dx-select-box formControlName="dropdown" label="Select Option"
    labelMode="floating" valueExpr="id" displayExpr="text" [dataSource]="Periodicityds" search="true"
    height="40px" width="100%" [searchEnabled]="true" selectionMode="single" placeholder=""
    disableOptionCentering>
  </dx-select-box>
  </div>
  <div class="col-sm-6">
    <mat-form-field appearance="fill" class="form-field" style="width: 100px;">
      <mat-label>Enter Days</mat-label>
      <input matInput formControlName="entervalue"   type="number" />
    </mat-form-field>
  </div>
  </div>
</div>
<div class="box">
  <mat-label >Default Notifiers:</mat-label>
        </div>
<div class="box">
  <div class="box">
    <div class="col-sm-12">
       <dx-tag-box 
  [searchEnabled]="false"
  [acceptCustomValue]="false"
  (onCustomItemCreating)="onCustomItemCreating($event)"
  [inputAttr]="{ 'aria-label': 'User Email IDs' }"
  formControlName="Def_Notifiers"
  [disabled]="true" style="width: 350px;">
</dx-tag-box>
</div>
<!-- <div class="col-sm-6">

</div> -->
</div>

</div>
<br>
<div class="box">
  <mat-label >Additional Notifiers:</mat-label>
        </div>
<div class="box">
  <div class="row mb-2">
    <div class="col-sm-12">
      <dx-tag-box
     
      [value]="tagboxvalue"
          [searchEnabled]="true"
          valueExpr="emailid" displayExpr="firstname"
           [dataSource]="userdatalist"
          [acceptCustomValue]="true"
           label="Select Users/ Enter email ID’s"
          [inputAttr]="{ 'aria-label': 'User Email IDs' }"
          (onCustomItemCreating)="onCustomItemCreating1($event)"
          style="width: 350px;"
          formControlName="Add_Notifiers"
          >
      </dx-tag-box>
  </div>
  </div>
</div>
</div>

<div *ngIf="NotifierspanelVisible"  style="height: 25%; width: 50%;">
<div  class="box">
  <mat-label>Before Due Date</mat-label>
 </div>
<div class="box">
    <div class="row mb-2" >
    <div class="col-sm-6">
      <dx-select-box formControlName="dropdown2" label="Select Option"
    labelMode="floating" valueExpr="id" displayExpr="text" [dataSource]="Periodicityds" search="true"
    height="40px" width="100%" [searchEnabled]="true" selectionMode="single" placeholder=""
    disableOptionCentering>
  </dx-select-box>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="fill" class="form-field" style="width: 100px;">
        <mat-label>Enter Days</mat-label>
        <input matInput formControlName="entervalue2"  type="number" />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="box">
  <mat-label >Default Notifiers:</mat-label>
        </div>
<div class="box">
  <div class="row mb-2">
    <div class="col-sm-12">
      <dx-tag-box 
  [searchEnabled]="false"
  [acceptCustomValue]="false"
  (onCustomItemCreating)="onCustomItemCreating($event)"
  [inputAttr]="{ 'aria-label': 'User Email IDs' }"
  formControlName="Def_Notifiers2"
  [disabled]="true" style="width: 350px;"
  >
</dx-tag-box>
    </div>
  </div>
</div>
<br>
<div class="box">
  <mat-label >Additional Notifiers:</mat-label>
        </div>
<div class="box">
  <div >
    <dx-tag-box
     
      [value]="tagboxvalue"
          [searchEnabled]="true"
          valueExpr="emailid" displayExpr="firstname"
           [dataSource]="userdatalist"
          [acceptCustomValue]="true"
           label="Select Users/ Enter email ID’s"
          [inputAttr]="{ 'aria-label': 'User Email IDs' }"
          (onCustomItemCreating)="onCustomItemCreating1($event)"
          style="width: 350px;"
          formControlName="Add_Notifiers2"
          >
      </dx-tag-box>
  </div>
</div>
 </div>

 <div *ngIf="AdditionalpanelVisible"  style="height: 25%; width: 50%;">
  <div  class="box">
    <mat-label>Before Due Date</mat-label>
   </div>
  <div class="box">
    <div class="row mb-2" >
      <div class="col-sm-6">
        <dx-select-box formControlName="dropdown3" label="Select Option"
        labelMode="floating" valueExpr="id" displayExpr="text" [dataSource]="Periodicityds" search="true"
        height="40px" width="100%" [searchEnabled]="true" selectionMode="single" placeholder=""
        disableOptionCentering>
      </dx-select-box>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="fill" class="form-field" style="width: 100px;">
        <mat-label>Enter Days</mat-label>
        <input matInput formControlName="entervalue3" type="number"  />
      </mat-form-field>
    </div>
    </div>
  </div>
  <div class="box">
    <mat-label >Default Notifiers:</mat-label>
          </div>
  <div class="box">
      <div >
        <dx-tag-box 
        [searchEnabled]="false"
        [acceptCustomValue]="false"
        (onCustomItemCreating)="onCustomItemCreating($event)"
        [inputAttr]="{ 'aria-label': 'User Email IDs' }"
        formControlName="Def_Notifiers3"
        [disabled]="true" style="width: 350px;"
        >
    </dx-tag-box>
    </div>
  </div>
  <br>
  <div class="box">
    <mat-label >Additional Notifiers:</mat-label>
          </div>
  <div class="box">
      <div >
        <dx-tag-box
     
        [value]="tagboxvalue"
            [searchEnabled]="true"
            valueExpr="emailid" displayExpr="firstname"
             [dataSource]="userdatalist"
            [acceptCustomValue]="true"
             label="Select Users/ Enter email ID’s"
            [inputAttr]="{ 'aria-label': 'User Email IDs' }"
            (onCustomItemCreating)="onCustomItemCreating1($event)"
            style="width: 350px;"
            formControlName="Add_Notifiers3"
            >
        </dx-tag-box>
    </div>
  </div>
</div>
</div>

</div>
<div class="button">
<button class="Custombutton" matStepperNext type="button" (click)="stepperNav5()">Next</button>
</div>
          </mat-step>
          </div>
          <!-- <mat-step label="Document Add-ON" [completed]="isStep4Completed" > -->

        <mat-step label="Document Add-ON" >
          <br>
          <br>
          
          <!-- <div class="box" >
            <div >
              <label>
                Document review frequency  
        <input type="checkbox"  (change)="onCheckboxChange($event)" [(ngModel)]="isPanelVisible" > 
              </label>
              <div *ngIf="isPanelVisible">
                              <div class="box">
          

                                <div fxLayoutAlign="center center" *ngIf="TextBox1">
                                  <div class="box"  >
                                   
                                     
                                        <dx-number-box 
                                        formControlName="freq_period"
                                        [value]="1"
                                        [min]="1"
                                        [max]="10"
                                        [showSpinButtons]="true"
                                          [showClearButton]="true"
                                          label="Enter Value Here"
                                          labelMode="floating"
                                      >
                                      </dx-number-box>
                                       
                                      
                                    
                                  </div>
                                </div>

                                <div  fxLayoutAlign="center center" style="margin-top: 20px;">
                                <div class="box">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Select Frequency period</mat-label>

            <mat-select
            formControlName="freq_period_type"
            (selectionChange)="SelectFrequencyPeriod($event)" 
            disableOptionCentering  >
         <mat-option *ngFor="let element of project4" [value]="element.name">{{
            element.name
          }}</mat-option>
        </mat-select>
 
        </mat-form-field>
      </div>
      </div>
        
        <div fxLayoutAlign="center center" >
          <div class="box">
           <dx-date-box 
            label="Start Date for Next Review"
            labelMode="floating"
            [showClearButton]="true"
            [useMaskBehavior]="true"
            displayFormat="dd/MMM/yyyy"
            type="date"
            [min]="minDate"  
            
            formControlName="review_start_Date" 
          ></dx-date-box>
          </div>
        </div>
    
                </div>

                  <div class="body">
                  <h2 class="title">Notification Setup:</h2>
      
                  <div class="box">
                    <div> <mat-label>Select Escalation</mat-label></div>
                    <div>
                      <h3> <label>1.
                          <input type="checkbox"  style="zoom: 1.5;" name="selection4"  
                            [checked]="" (change)="onEscaltion($event)" [(ngModel)]="EnterDayspanelVisible">
                            
                        </label></h3>
                    </div>
                    <div>
                      <h3> <label>2.
                          <input type="checkbox"  style="zoom: 1.5;" name="selection4" 
                            [checked]="NotifierspanelVisible" (change)="onNotifiers($event)" [(ngModel)]="NotifierspanelVisible">
                            
                        </label></h3>
                    </div>
                    <div>
                      <h3> <label>3.
                          <input type="checkbox"  style="zoom: 1.5;" name="selection4" 
                            [checked]="" (change)="onAdditional($event)" [(ngModel)]="AdditionalpanelVisible" >
                            
                        </label></h3>
                    </div>
                </div>
              
      <div class="box">
        
      <div></div>
      
               <div *ngIf="EnterDayspanelVisible"  style="height: 25%; width: 50%;">
                <div  class="box">
                 <mat-label>Enter Days</mat-label>
                </div>
                <div class="box">
                 <div class="row mb-2" >
                    <div class="col-sm-6">
               
                    <dx-select-box formControlName="dropdown" label="Select Option"
                    labelMode="floating" valueExpr="id" displayExpr="text" [dataSource]="Periodicityds" search="true"
                    height="40px" width="100%" [searchEnabled]="true" selectionMode="single" placeholder=""
                    disableOptionCentering>
                  </dx-select-box>
      
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="form-field" style="width: 100px;">
                      <mat-label>Enter Value</mat-label>
                      <input matInput formControlName="entervalue"  />
                    </mat-form-field>
                  </div>
                  </div>
                </div>
                <div class="box">
                  <mat-label >Default Notifiers:</mat-label>
                        </div>
                <div class="box">
                 <div >
                  <dx-tag-box 
                  [searchEnabled]="false"
                  [acceptCustomValue]="false"
                  (onCustomItemCreating)="onCustomItemCreating($event)"
                  [inputAttr]="{ 'aria-label': 'User Email IDs' }"
                  formControlName="Def_Notifiers"
                  [disabled]="true"
                  >
              </dx-tag-box>
              
                  </div>
                </div>
                <div class="box">
                  <mat-label >Additional Notifiers:</mat-label>
                        </div>
                <div class="box">
                  <div >
                                 <mat-form-field class="example-chip-list" appearance="fill">
                      <mat-label>Select Users/ Enter email ID’s</mat-label>
                      <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let tag of tags2" (removed)="remove(tag)">
                          {{tag.name}}
                          <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip>
                        <input #chipListInput
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="EnterDaysAdd($event)"   
                               formControlName="Add_Notifiers"
                               >
                      </mat-chip-list>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div></div>
              <div *ngIf="NotifierspanelVisible"  style="height: 25%; width: 50%;">
                <div  class="box">
                  <mat-label>Enter Days</mat-label>
                 </div>
                <div class="box">
                    <div class="row mb-2" >
                    <div class="col-sm-6">
                      <dx-select-box formControlName="dropdown2" label="Select Option"
                    labelMode="floating" valueExpr="id" displayExpr="text" [dataSource]="Periodicityds" search="true"
                    height="40px" width="100%" [searchEnabled]="true" selectionMode="single" placeholder=""
                    disableOptionCentering>
                  </dx-select-box>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill" class="form-field" style="width: 100px;">
                        <mat-label>Enter Value</mat-label>
                        <input matInput formControlName="entervalue2"  />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="box">
                  <mat-label >Default Notifiers:</mat-label>
                        </div>
                <div class="box">
                     <div >
                      <dx-tag-box 
                  [searchEnabled]="false"
                  [acceptCustomValue]="false"
                  (onCustomItemCreating)="onCustomItemCreating($event)"
                  [inputAttr]="{ 'aria-label': 'User Email IDs' }"
                  formControlName="Def_Notifiers2"
                  [disabled]="true"
                  >
              </dx-tag-box>
                  </div>
                </div>
                <div class="box">
                  <mat-label >Additional Notifiers:</mat-label>
                        </div>
                <div class="box">
                  <div >
                     <mat-form-field class="example-chip-list" appearance="fill">
                      <mat-label>Select Users/ Enter email ID’s</mat-label>
                      <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let tag of tags3" (removed)="remove(tag)">
                          {{tag.name}}
                          <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip>
                        <input #chipListInput
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="DefaultAdd($event)"   
                               formControlName="Add_Notifiers2"
                               >
                      </mat-chip-list>
                    </mat-form-field>
                  </div>
                </div>
                 </div>
                <div></div>
                 <div *ngIf="AdditionalpanelVisible"  style="height: 25%; width: 50%;">
                  <div  class="box">
                    <mat-label>Enter Days</mat-label>
                   </div>
                  <div class="box">
                    <div class="row mb-2" >
                      <div class="col-sm-6">
                        <dx-select-box formControlName="dropdown3" label="Select Option"
                        labelMode="floating" valueExpr="id" displayExpr="text" [dataSource]="Periodicityds" search="true"
                        height="40px" width="100%" [searchEnabled]="true" selectionMode="single" placeholder=""
                        disableOptionCentering>
                      </dx-select-box>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill" class="form-field" style="width: 100px;">
                        <mat-label>Enter Value</mat-label>
                        <input matInput formControlName="entervalue3"  />
                      </mat-form-field>
                    </div>
                    </div>
                  </div>
                  <div class="box">
                    <mat-label >Default Notifiers:</mat-label>
                          </div>
                  <div class="box">
                      <div >
                        <dx-tag-box 
                        [searchEnabled]="false"
                        [acceptCustomValue]="false"
                        (onCustomItemCreating)="onCustomItemCreating($event)"
                        [inputAttr]="{ 'aria-label': 'User Email IDs' }"
                        formControlName="Def_Notifiers3"
                        [disabled]="true"
                        >
                    </dx-tag-box>
                    </div>
                  </div>
                  <div class="box">
                    <mat-label >Additional Notifiers:</mat-label>
                          </div>
                  <div class="box">
                      <div >
                        <mat-form-field class="example-chip-list" appearance="fill">
                          <mat-label>Select Users/ Enter email ID’s</mat-label>
                          <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let tag of tags4" (removed)="remove(tag)">
                              {{tag.name}}
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                            <input #chipListInput
                                   [matChipInputFor]="chipList"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   [matChipInputAddOnBlur]="addOnBlur"
                                   (matChipInputTokenEnd)="AdditionalAdd($event)"   
                                   formControlName="Add_Notifiers3"
                                   >
                          </mat-chip-list>
                        </mat-form-field>
                    </div>
                  </div>
              </div>
            </div>
          
                </div>
               
              </div>
             
                </div>
          
          </div> -->
         
        
       
          <div class="box">

            <div style="flex: 1; margin-left: 20px;">
              <label>
                Select If Document Linking Required ?
                <input  type="checkbox"  (change)="ondoclinkChange($event)" [(ngModel)]="isdoclinkpanelVisible" class="custom-checkbox"> 
              
              </label>
             <br>
             <br>
           
              <div *ngIf="isdoclinkpanelVisible"  style="height: 25%;">
              
               
                    <dx-drop-down-box
                    formControlName="pub_doc" 
                   [(value)]="SelectedOption"
                      [inputAttr]="{ 'aria-label': 'Owner' }"
                      valueExpr="addDoc_id"
                    displayExpr="document_Id"
                      [deferRendering]="false"
                     placeholder="Select published
                      documents"
                      [showClearButton]="true"
                      style="height: 300%;"   
                      [dataSource]="publDoc"                
                    >
                    <div *dxTemplate="let data of 'content'">
                      <dx-data-grid
                      [dataSource]="publDoc"
                        [columns]="publiDocColumns"
                        [hoverStateEnabled]="true"
                      
                        [(selectedRowKeys)]="SelectedOption"
                        height="100%"
                      >
                        <dxo-selection mode="multiple"></dxo-selection>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                      </dx-data-grid>
                    </div>
                  </dx-drop-down-box>
                    </div>
            <!-- </form> -->
          </div>
          </div>
          <br>
        <div class="box">
          <div fxLayoutAlign="center center">
            <div class="box">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>Publisher comments </mat-label>
                <textarea matInput  #comments maxlength="1500" formControlName="publisher_comments"   style="min-height: 50px;" ></textarea>
                <mat-hint align="start" >Max 1500 Characters</mat-hint>
                <mat-hint align="end">{{comments.value.length}}/1500</mat-hint>
              </mat-form-field>
            </div>
          </div>
  
          </div>
          <div class="box">
          <div fxLayoutAlign="center center">
            <div class="box">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label style="font-size: 16px;">Indicative Reading Time</mat-label>
                <input matInput #indicative_reading_time formControlName="indicative_reading_time" 
                [(ngModel)]="defaultindicative"      type="number" min="0" max="999" required  />
                <mat-hint align="end">{{indicative_reading_time.value}}/999</mat-hint>
            </mat-form-field>
            </div>
          </div>
          <div fxLayoutAlign="center center">
           
            <div class="box">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label style="font-size: 16px;">Time Period </mat-label>
                <mat-select
              formControlName="Time_period"
              [(ngModel)]="defaultTime"
              (selectionChange)="changeTimePeriod($event)"
              disableOptionCentering>
              <mat-option *ngFor="let period of tmperiod" [value]="period.name" style="font-size: 16px;">{{
                period.name
              }}</mat-option>
            </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
       
          <div class="button">
            <button class="grey-button" matStepperPrevious type="button">Back</button>

            <button class="Custombutton"   (click)="onSubmit()">Publish Document</button>
              <!-- <button class="Custombutton" matStepperNext>Discard Draft</button>              
            <button class="grey-button"  matStepperPrevious>Back</button> -->
            
          </div>
          
         
        </mat-step>
      </form>

      
    <!-- </form> -->
        <ng-template matStepperIcon="phone">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="chat">
          <mat-icon>forum</mat-icon>
        </ng-template>
      
    

      </mat-horizontal-stepper>
    <!-- </mat-horizontal-stepper> -->
    
    </div>
  </div>