
.unauthorized-container {
  text-align: center;
  margin-top: 50px;
}

.unauthorized-container img {
  max-width: 300px;
  margin: 20px auto;
  display: block; 
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
