mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #556f83 !important;
}

::ng-deep circle{
    stroke-dasharray: 282.743px;
    stroke-width: 5% !important;
    transform-origin: 50% 50%;
}

