.button {
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 20px;
  }
  .boxNew {
    display: flex;
    padding-left: 30px; 
    gap:30px;
    flex-direction: row;
    width: 70%;
  }
  .boxNew> * {
    flex: 1 none none;
    
  }
  .custom-checkbox {
    transform: scale(1.5); /* Increase the scale (1.5 is just an example, you can increase or decrease it) */
    margin-left: 10px; /* Optional: Space between the checkbox and label */
  }

  .header{
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  ::ng-deep #form-container {
    margin: 10px;
  }
  
   
  .wrapper{
    padding: 20px;
    
  }
  
  ::ng-deep .long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .readonly-input{
    pointer-events: none;
      background-color: #dfdada;
      color: #333; /* Adjust styles as needed */
  }
  .table-container {
    max-width: 1000px; /* Set the maximum width of the container */
    margin: 10px; /* Center the container horizontally */
  }
  
  .mat-table {
    width: 100%; /* Set the width of the table to 100% of its container */
  }
  .form-container {
    display: flex;
  }
  
  .form-array-container {
    flex: 1;
    margin-right: 20px; /* Adjust margin as needed */
  }
  
  .input-container {
    display: flex;
    align-items: center; /* Optional: Align items vertically in the center */
  }
  
  label {
    margin-right: 10px; /* Adjust margin as needed for spacing between label and input */
  }
  
   
  .wrapper{
    padding: 20px;
    
  }
  .back{
    width: 3%;
    display: block;
    height: 30px;
    font-family: inherit;
    background-color: #556f83;
    color: #fff;
    border: 0;
    border-radius: 1rem* 0.25;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: inherit;
}
.button {
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 20px;
}
.boxNew {
  //display: flex;
  padding-left: 10px; 
  gap:10px;
  flex-direction: row;
  width: 70%;
}
.boxNew> * {
  flex: 1 none none;
  
}

.header{
  padding-left: 10px;
  //padding-bottom: 20px;
  padding-top: 10px;
}

::ng-deep #form-container {
  margin: 10px;
}

 
.wrapper{
  padding: 10px;
  
}

::ng-deep .long-title h3 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.readonly-input{
  pointer-events: none;
    background-color: #dfdada;
    color: #333; /* Adjust styles as needed */
}
.table-container {
  max-width: 1000px; /* Set the maximum width of the container */
  margin: 10px; /* Center the container horizontally */
}

.mat-table {
  width: 100%; /* Set the width of the table to 100% of its container */
}
.form-container {
  display: flex;
}

.form-array-container {
  flex: 1;
  margin-right: 20px; /* Adjust margin as needed */
}

.input-container {
  display: flex;
  align-items: center; /* Optional: Align items vertically in the center */
}

label {
  margin-right: 10px; /* Adjust margin as needed for spacing between label and input */
}

 
.wrapper{
  padding: 20px;
  
}