.table {
  width: 100%;
  margin-top: 25px;
}

.body {
  padding: 30px;
  padding-top: 20px;
}
.h1 {
  font-size: revert;
  font-weight: 500;
}


.img {
  height: 20px;
  // margin-left: 80px;
  cursor: pointer;

}

//Toggle button
::ng-deep {
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #37d111 !important;
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #d9d9d9 !important;
  }

  mat-header-cell,
  mat-cell {
    justify-content: center;
    text-align-last: center;
    overflow: inherit !important;
    text-align: center;
  }
}

.filter-input {
  width: 98%;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 20px;
  font-size: 16px;
}

.gray-text {
  color: #b9b9b9;
}

// DevExpress Grid styles Opeb

.employee-photo {
  height: 140px;
  float: left;
  padding: 0 20px 20px 0;
}

.employee-notes {
  text-align: justify;
  white-space: normal;
}

#dataGrid {
  height: 500px;
}

#app-container {
  width: 850px;
  position: relative;
  margin: 2%;
}

.content{
  margin : 30px;
}


#selected-employee {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
//dev express GRID style close
.button {
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 20px;
}


.header{
  padding-left: 10px;
  //padding-bottom: 20px;
  padding-top: 10px;
}

::ng-deep #form-container {
  margin: 10px;
}

 
.wrapper{
  padding: 10px;
  
}

::ng-deep .long-title h3 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.readonly-input {
  pointer-events: none;
  background-color: hsl(0, 19%, 93%);
  color: #333; /* Adjust styles as needed */
}
.table-container {
  max-width: 1000px; /* Set the maximum width of the container */
  margin: 10px; /* Center the container horizontally */
}

.mat-table {
  width: 100%; /* Set the width of the table to 100% of its container */
}

.scrollable-textarea {
  overflow: auto;
  resize: vertical; /* Optional: Allow vertical resizing */
  min-height: 100px; /* Optional: Set a minimum height */
}

::ng-deep .mat-dialog-content.error-message {
color: red; /* Set the color for error messages */
/* Add any other styling for error messages as needed */
}

::ng-deep .mat-dialog-content.success-message {
color: green; /* Set the color for success messages */
/* Add any other styling for success messages as needed */
}

.loading-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.8);
display: flex;
align-items: center;
justify-content: center;
z-index: 1000;
}
select {
display: block;
width: 100%; /* Adjust the width as needed */
padding: 8px; /* Adjust the padding as needed */
margin: 10px 0; /* Adjust the margin as needed */
box-sizing: border-box;
border: 1px solid #ccc; /* Adjust the border style as needed */
border-radius: 4px; /* Adjust the border-radius as needed */
font-size: 14px; /* Adjust the font size as needed */
color: #333; /* Adjust the text color as needed */
background-color: #fff; /* Adjust the background color as needed */
}

/* Optional: Add styles for hover and focus states */
select:hover,
select:focus {
border-color: #66afe9; /* Adjust the border color for hover and focus states as needed */
}

@media only screen and (max-width: 600px) {
.sidebar {
 overflow: auto;
}
}
.suggestion-container {
display: flex;
align-items: flex-start;
margin-bottom: 8px; /* Adjust margin as needed */
}

.remarks-container {
flex: 1; /* Make mat-form-field take available space */
margin-right: 8px; /* Adjust margin as needed */
}

.delete-button {
background-color: #ff0000; /* Set your desired background color */
color: #ffffff; /* Set your desired text color */
border: none;

padding: 10px; /* Adjust padding to increase button size */
cursor: pointer;
font-weight: bold;
border-radius: 8px; 
}
.add-button {
background-color: #4caf50; /* Set your desired background color */
color: #fff; /* Set your desired text color */
border: none;
padding: 10px 20px; /* Adjust padding for the button size */
font-size: 16px; /* Set your desired font size */
cursor: pointer;
border-radius: 5px; /* Adjust border-radius for rounded corners */
}

.add-button:hover {
background-color: #45a049; /* Change background color on hover */
}
::ng-deep #data-grid-demo {
min-height: 700px;
}

::ng-deep #gridDeleteSelected {
position: absolute;
z-index: 1;
right: 0;
margin: 1px;
top: 0;
}

::ng-deep #gridDeleteSelected .dx-button-text {
line-height: 0;
}
