<div class="form">
    <div class="body">
        <div class="header">
            <div class="card-header">
                <h1 class="title">Import Super Admin Common Entity Attributes</h1>
            </div>
            <br>
            <div class="row">
                <div></div>
                <div class="box">
                 <!-- <label>Common Entity Attributes</label> -->
                 <br>
              <table style="border: 1px solid black;" class="table">
                <tr>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black;">Database Name</th>
                    <th style="border-bottom: 1px solid black;">Table Name</th>
                    <th style="border-bottom: 0px solid black; border-left: 1px solid black;"></th>
                </tr>
                <tr >
               <td rowspan="7" style="border-right: 1px solid black;border-bottom: 1px solid black;">Common Entity Attributes</td>
               <td></td>
               <td rowspan="7" style="border-left: 1px solid black; border-bottom: 1px solid black;"> <button type="button" class="back" (click)="onClickButton()" style="width: 55px; margin-left: auto; margin-right: auto"><mat-icon >download1</mat-icon></button></td>
                  
                    </tr>
                    <tr>
                      
                    <td style="border-bottom: 1px solid black;">EntityTypeMaster</td>
                    <td> </td>
                </tr>
                <tr>
           <td style="border-bottom: 1px solid black;">UnitTypeMaster</td>
                    <td></td>
                </tr>
                <tr>
             <td style="border-bottom: 1px solid black;">BusinessSector</td>
                    <td></td>
                </tr>
                <tr>
                      
                    <td style="border-bottom: 1px solid black;">IndustryType</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid black;">RegionMaster</td>
                           <td></td>
                       </tr>
                       <tr>
                        <td style="border-bottom: 1px solid black;" >Sub_RegionMaster</td>
                               <td></td>
                           </tr>
                           <tr style="border-top: 1px solid black;">
                            <td rowspan="3" style="border-right: 1px solid black;">Other Common  Masters</td>
                            <td></td>
                            <td rowspan="3" style="border-left: 1px solid black; "> <button type="button" class="back" (click)="onClickButton1()" style="width: 55px; margin-left: auto; margin-right: auto"><mat-icon >download1</mat-icon></button></td>
                               
                                 </tr>
                                 <tr >
                                   
                                 <td style="border-bottom: 1px solid black;">FrequencyMaster</td>
                                 <td> </td>
                             </tr>
                             <!-- <tr>
                        <!-- <td >HolidayMaster</td>
                                 <td></td>
                             </tr> -->
                           
              </table>
              
            </div>
                <div>
            </div>
            <br>
            <!-- <div class="row">
                <div class="box">
                 <label> Other Common  Masters</label>
              
               <button type="button" class="back" (click)="onClickButton1()" style="width: 5px;"><mat-icon >download1</mat-icon></button>
            </div>
            <div  class="box"></div>
            </div> -->
        </div>

    </div>
</div>
