.button {
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 20px;
  }
  .boxNew {
    //display: flex;
    padding-left: 10px; 
    gap:10px;
    flex-direction: row;
    width: 70%;
  }
  .boxNew> * {
    flex: 1 none none;
    
  }

  .header{
    padding-left: 10px;
    //padding-bottom: 20px;
    padding-top: 10px;
  }

  ::ng-deep #form-container {
    margin: 10px;
  }
  
   
  .wrapper{
    padding: 10px;
    
  }
  

 

