<div class="form">
  <div class="body">
    <div class="header">
      <div style="align-self:self-end;">
        <div class=" card">
          <div class=" card-header">
            <h1 class=" title">Score Indicators</h1>
          </div>
          <div class="card-body">
  
  <div id="app-container">
    <dx-data-grid id="dataGrid"
      [dataSource]="dataSource"
      [showBorders]="true"
     
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [allowColumnReordering]="true"
      
      (onExporting)="exportGrid($event)">
   
      <dxi-column dataField="score_id"  caption=" Score Indicator ID">
        <dxo-form-item [visible]="false">
        </dxo-form-item>
      </dxi-column>
    <dxi-column dataField="score_Name" caption="Score Criteria Name">
      <dxi-validation-rule type="required"></dxi-validation-rule>   
  </dxi-column>
  <dxi-column dataField="scoreminrange" caption="Set Score Min-Range">
    <dxi-validation-rule type="custom" [validationCallback]="validateNonNegative"></dxi-validation-rule>
    
    <dxo-editor-options [mask]="'numeric'"></dxo-editor-options>
  </dxi-column>

    <dxi-column dataField="scoremaxrange" caption="Set Score Max-Range">
      <dxi-validation-rule type="custom" [validationCallback]="validateNonNegative"></dxi-validation-rule>
    
      <dxo-editor-options [mask]="'numeric'"></dxo-editor-options>
     </dxi-column>
  <dxi-column dataField="score_Desc" caption="Description"></dxi-column>
  
  
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-search-panel [visible]="true"></dxo-search-panel>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-summary>
        <dxi-total-item
            column="score_id"
            summaryType="count">
        </dxi-total-item>
        
    </dxo-summary>
    <dxo-pager
    [visible]="true"
    [allowedPageSizes]="[5, 10,20, 'all']"
   
    [showPageSizeSelector]="true"
   
    [showInfo]="true"
    infoText="Page {0} of  {1} ({2} items)"
    [showNavigationButtons]="true"
  >
  </dxo-pager>
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="true">
        <dxo-popup
        title="Add Score Indicators"
        [showTitle]="true"
        [width]="700"
        [height]="525"
       
      ></dxo-popup>
      </dxo-editing>
      <dxo-toolbar>
        <dxi-item name="groupPanel"></dxi-item>
       
        <dxi-item name="addRowButton" showText="always"></dxi-item>
        <dxi-item name="exportButton"></dxi-item>
        <dxi-item name="columnChooserButton"></dxi-item>
        <dxi-item name="searchPanel"></dxi-item>
    </dxo-toolbar>
  
  
      <dxo-export 
        [enabled]="true"
        [formats]="['xlsx', 'pdf']"
      >
      </dxo-export>
    </dx-data-grid>
    
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>