<!-- Step 1: Email Input -->
<section *ngIf="step === 'email'">
  <div class="body">
    <div class="form">
      <form
        class="form__content"
        [formGroup]="ForgotPasswordMailForm"
        (ngSubmit)="sendEmail(ForgotPasswordMailForm.value)">
        <div class="form__content__header">
          <h1><img src="../../../../assets/images/greyMail.svg" /></h1>
        </div>
        <div class="header">
          <h1 class="passText">Forgot password?</h1>
          <h3 class="quest">Enter the Login User ID Associated to your account</h3>
        </div>
        <div class="error" *ngIf="showError">
          {{ erroMessage }}
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Login User ID</mat-label>
          <input
            matInput
            formControlName="email"
            name="email"
            placeholder="Enter your Login User ID" required/>
        </mat-form-field>
        
        <div class="row">
          <button type="button" (click)="back()" class="grey-button">Cancel</button>
          <button type="submit" class="Custombutton">send email</button>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Step 2: Token Verification -->
<section *ngIf="step === 'token'">
  <div class="body">
    <div class="form">
      <form class="form__content"  [formGroup]="ForgotPasswordMailForm1">
        <div class="form__content__header">
          <h1><img src="../../../../assets/images/greyMail.svg" /></h1>
        </div>
        <div class="header">
          <h1 class="passText">Enter verification token</h1>
          <h3>We have sent a token to your email address</h3>
        </div>
        <div class="error" *ngIf="erroMessage">
          {{ erroMessage }}
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Token</mat-label>
          <input
            matInput
            formControlName="verfiytoken"
            placeholder="Enter token"
            required
          />
        </mat-form-field>
        <div class="row">
          <button type="button" (click)="step = 'email'" class="grey-button">Back</button>
          <button type="button" (click)="verifyToken()" class="Custombutton">Verify</button>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Step 3: Set New Password -->
<section *ngIf="step === 'newPassword'">
  <div class="body">
    <div class="form">
      <form class="form__content" [formGroup]="ForgotPasswordMailForm2">
        <div class="form__content__header">
          <h1><img src="../../../../assets/images/greyKey.svg" /></h1>
        </div>
        <div class="header">
          <h1 class="passText">Set new password</h1>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            type="password"
            formControlName="password"
            placeholder="Enter New Password"
            required
          />
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            [type]="hideconform ? 'password' : 'text'"
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm Your Password"
            required
          />
        <mat-icon matSuffix (click)="hideconform = !hideconform">{{hideconform ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div *ngIf="ForgotPasswordMailForm2.hasError('mismatch') && ForgotPasswordMailForm2.get('confirmPassword')?.touched">
          <span style="color: red;">!Passwords do not match.</span>
        </div>
        <div>
          <span style="color: rgb(231, 9, 9); font-weight: bold;">Note:</span>
          <span style="color: rgb(45, 30, 245);">
            Password must contain at least one number, one uppercase, one special character, a lowercase letter and at least 8 characters.
          </span>
        </div>
        <div class="row">
          <button type="button" (click)="step = 'token'" class="grey-button">Back</button>
          <button type="button" (click)="resetPassword()" class="Custombutton">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Step 4: Success -->
<section *ngIf="step === 'done'">
  <div class="body">
    <div class="form">
      <form class="form__content">
        <div class="form__content__header">
          <h1><img src="../../../../assets/images/greenKey.svg" /></h1>
        </div>
        <div class="header">
          <h1 class="passText">Password reset</h1>
          <h3 class="quest">Your password has been successfully reset.</h3>
        </div>
        <div class="form__field form__submit">
          <button type="button" (click)="passwordResetSuccess()" class="Custombutton">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
