<div class="form">
    <div class="body">
      <div class="header">
        <div style="align-self:self-end;">
            <div class="card">
                <div class="card-header">
                    <h1 class="title">Assessment Template Sub-Type</h1>
                </div>
<div class="card-body">

    <div id="app-container">
      <dx-data-grid id="dataGrid"
        [dataSource]="dataSource2"
        [showBorders]="true"
       
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [allowColumnReordering]="true"
        
        (onExporting)="exportGrid1($event)">
        <dxi-column dataField="subType_id"  caption="Assessment Template Sub-Type ID" >
          <dxo-form-item [visible]="false">
          </dxo-form-item>
        </dxi-column>
        <dxi-column dataField="type_id" caption="Assessment Template Type Name ">
          <dxi-validation-rule type="required"></dxi-validation-rule> 
          <dxo-lookup [dataSource]="typedata" valueExpr="type_id" displayExpr="type_Name" ></dxo-lookup>  
      </dxi-column>
      
      <dxi-column dataField="subType_Name" caption="Assessment Template Sub-Type Name">
        <dxi-validation-rule type="required"></dxi-validation-rule>   
    </dxi-column>
    
    <dxi-column dataField="subType_DESC" caption="Description"></dxi-column>
    
    
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-summary>
          <dxi-total-item
              column="subType_id"
              summaryType="count">
          </dxi-total-item>
          
      </dxo-summary>
      <dxo-pager
      [visible]="true"
      [allowedPageSizes]="[5, 10,20, 'all']"
     
      [showPageSizeSelector]="true"
     
      [showInfo]="true"
      infoText="Page {0} of  {1} ({2} items)"
      [showNavigationButtons]="true"
    >
    </dxo-pager>
        <dxo-editing
          mode="popup"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [allowAdding]="true">
          <dxo-popup
          title="Add Assessment Template Sub-Type"
          [showTitle]="true"
          [width]="700"
          [height]="525"
         
        ></dxo-popup>
        </dxo-editing>
        <dxo-toolbar>
          <dxi-item name="groupPanel"></dxi-item>
         
          <dxi-item name="addRowButton" showText="always"></dxi-item>
          <dxi-item name="exportButton"></dxi-item>
          <dxi-item name="columnChooserButton"></dxi-item>
          <dxi-item name="searchPanel"></dxi-item>
      </dxo-toolbar>
    
    
        <dxo-export 
          [enabled]="true"
          [formats]="['xlsx', 'pdf']"
        >
        </dxo-export>
      </dx-data-grid>
      
    </div>
    </div>
            </div>
        </div>
    </div>
</div>