.form-container {
    display: flex;
    width: 1200px;
    //justify-content: space-between; /* Adjust as needed */
  }
  #app-container {
    width: 980px;
    position: relative;
    margin: 2%;
  }
  