<div class="content">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h1 class="title">Sub Region Master</h1>
                </div>
                <div class="card-body">
                    <div id="app-container">
                        <dx-data-grid id="dataGrid"
                        [dataSource]="dataSource"
                        [showBorders]="true"
                       
                        [allowColumnResizing]="true"
                        [columnAutoWidth]="true"
                        [allowColumnReordering]="true"
                        (onExporting)="exportGrid($event)">
                        <dxi-column dataField="sub_RegionMasterID"  caption=" Sub Region id" >
                            <dxo-form-item [visible]="false">
                            </dxo-form-item>
                          </dxi-column>
                        <dxi-column dataField="regionMasterID" caption="Select Region Name">
                            <dxi-validation-rule type="required"></dxi-validation-rule> 
                            <dxo-lookup [dataSource]="typedata" valueExpr="regionMasterID" displayExpr="regionName" ></dxo-lookup>  
                          
                       
                        </dxi-column>
                        <dxi-column dataField="sub_RegionName" caption="Sub Region Name">
                            <dxi-validation-rule type="stringLength" [max]="30" message="max 30 Characters allowed"></dxi-validation-rule>
                        </dxi-column>                     
                        <dxi-column dataField="description" caption="Description">
                            <dxi-validation-rule type="stringLength" [max]="100" message="max 100 Characters allowed"></dxi-validation-rule>

                        </dxi-column>   
                       
                                                
                        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-search-panel [visible]="true"></dxo-search-panel>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-summary>
                            <dxi-total-item
                                column="sub_RegionMasterID"
                                summaryType="count">
                            </dxi-total-item>
                            
                        </dxo-summary>
                        <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
                        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                        <dxo-pager
                        [visible]="true"
                        [allowedPageSizes]="[5, 10,20, 'all']"
                       
                        [showPageSizeSelector]="true"
                       
                        [showInfo]="true"
                        infoText="Page {0} of  {1} ({2} items)"
                        [showNavigationButtons]="true"
                      >
                      </dxo-pager>
                        <dxo-editing
                        mode="popup"
                        [allowUpdating]="isUpdateIconVisible"
                        [allowDeleting]="isUpdateIconVisible"
                        [allowAdding]="true">
                        <dxo-popup
                        title="Add Sub Region Master"
                        [showTitle]="true"
                        [width]="700"
                        [height]="525"
                       
                      ></dxo-popup>
                      </dxo-editing>
                      <dxi-item name="groupPanel"></dxi-item>
       <dxo-toolbar>
        <dxi-item name="addRowButton" showText="always"></dxi-item>
        <dxi-item name="exportButton"></dxi-item>
        <dxi-item name="columnChooserButton"></dxi-item>
        <dxi-item name="searchPanel"></dxi-item>
                      </dxo-toolbar>
                      <dxo-export 
                      [enabled]="true"
                      [formats]="['xlsx', 'pdf']"
                    >
                    </dxo-export>
                  </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
