<div class="form">
    <div class="body">
        <div class="header">
            <div class="card-header">
                <h1 class="title"> Import Super Admin Common Compliance Library Attributes</h1>
            </div>
            <br>
            <div class="row">
                <div></div>
                <div class="box">
                    <!-- <label>Common Entity Attributes</label> -->
                    <br>
                    <table style="border: 1px solid black;" class="table">
                        <tr>
                            <th style="border-bottom: 1px solid black;border-right: 1px solid black;">Database Name</th>
                            <th style="border-bottom: 1px solid black;">Table Name</th>
                            <th style="border-bottom: 0px solid black; border-left: 1px solid black;"></th>
                        </tr>
                        <tr>
                            <td rowspan="13" style="border-right: 1px solid black;border-bottom: 1px solid black;">
                                Compliance Library Attributes</td>
                            <td></td>
                            <td rowspan="13" style="border-left: 1px solid black; border-bottom: 1px solid black;">
                                <button type="button" class="back" (click)="onClickButton()"
                                    style="width: 55px; margin-left: auto; margin-right: auto"><mat-icon>download1</mat-icon></button>
                            </td>

                        </tr>
                        <tr>

                            <td style="border-bottom: 1px solid black;">Law Type</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Categoey Of Law</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Jurisdiction Category List</td>
                            <td></td>
                        </tr>
                        <tr>

                            <td style="border-bottom: 1px solid black;">Jurisdiction Location List </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Compliance Type</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Compliance Record Type</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Compliance Group</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Regulatory Authority</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Compliance Risk Classification</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Compliance Risk Classification Criteria</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Penalty Category</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Compliance Notified Status</td>
                            <td></td>
                        </tr>
                        <tr style="border-top: 1px solid black ; margin-top: 50px;">
                            <td style="border-right: 1px solid black;" rowspan="5">Act/Regulatory Universe</td>
                            <td  style="border-bottom: 1px solid black;"> Act/Regulatory Master</td>
                            <td style="border-left: 1px solid black; " rowspan="5"> <button type="button" class="back"
                                    (click)="onClickButton2()"
                                    style="width: 55px; margin-left: auto; margin-right: auto"><mat-icon>download1</mat-icon></button>
                            </td>

                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Rule/ Regulation/ Procedure Master</td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Rule/ Regulation/ Procedure Master</td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Statutory Forms/ Records</td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid black;">Compliance Penalty Master</td>
                        </tr>
                        <tr style="border-top: 1px solid black ; margin-top: 50px;">
                            <td style="border-right: 1px solid black;">Other Common Settings</td>
                            <td > Compliance Period</td>
                            <td style="border-left: 1px solid black; "> <button type="button" class="back"
                                    (click)="onClickButton1()"
                                    style="width: 55px; margin-left: auto; margin-right: auto"><mat-icon>download1</mat-icon></button>
                            </td>

                        </tr>





                    </table>

                </div>

            </div>

        </div>
    </div>