.table {
  width: 100%;
  margin-top: 25px;
}

.body {
  padding: 30px;
  padding-top: 20px;
}
.h1 {
  font-size: revert;
  font-weight: 500;
}


.img {
  height: 20px;
  // margin-left: 80px;
  cursor: pointer;

}

//Toggle button
::ng-deep {
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #37d111 !important;
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #d9d9d9 !important;
  }

  mat-header-cell,
  mat-cell {
    justify-content: center;
    text-align-last: center;
    overflow: inherit !important;
    text-align: center;
  }
}

.filter-input {
  width: 98%;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 20px;
  font-size: 16px;
}

.gray-text {
  color: #b9b9b9;
}

// DevExpress Grid styles Opeb

.employee-photo {
  height: 140px;
  float: left;
  padding: 0 20px 20px 0;
}

.employee-notes {
  text-align: justify;
  white-space: normal;
}

#dataGrid {
  height: 500px;
}

#app-container {
  width: 850px;
  position: relative;
  margin: 2%;
}

#selected-employee {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.content{
  margin : 30px;
}

h1{
  color:rgb(2 162 143) !important;
}
::ng-deep .dx-popup-content p {
  margin-bottom: 10px;
  margin-top: 0;
}

//dev express GRID style close