<!-- Step 3: Set New Password -->
<section *ngIf="step === 'newPassword'">
    <div class="body">
      <div class="form">
        <form class="form__content" [formGroup]="ForgotPasswordMailForm2">
          <div class="form__content__header">
            <h1><img src="../../../../assets/images/greyKey.svg" /></h1>
          </div>
          <div class="header">
            <h1 class="passText">Set new password</h1>
          </div>
          <span><label>As the First Time User of the Application You Need to Change the Password</label></span>
          <mat-form-field appearance="outline">
            <mat-label>Set new Password</mat-label>
            <input
              matInput
              type="password"
              [type]="hide1 ? 'password' : 'text'"
              formControlName="password"
              placeholder="Enter New Password"
              required
            />
            <mat-icon matSuffix (click)="hide1 = !hide1">{{
              hide1 ? "visibility_off" : "visibility"
            }}</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              type="password"
              [type]="hide ? 'password' : 'text'"
              formControlName="confirmPassword"
              placeholder="Confirm Your Password"
              required
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </mat-form-field>
          <div *ngIf="ForgotPasswordMailForm2.hasError('mismatch') && ForgotPasswordMailForm2.get('confirmPassword')?.touched">
            <span style="color: red;">!Passwords do not match.</span>
          </div>
          <div>
            <span style="color: rgb(231, 9, 9); font-weight: bold;">Note:</span>
            <span style="color: rgb(45, 30, 245);">
              Password must contain at least one number, one uppercase, one special character, a lowercase letter and at least 8 characters.
            </span>
          </div>
          
          <div *ngIf="erroMessage">
            <p style="color:red">{{ erroMessage }}</p>
          </div>
          <br>
          <div class="row">
            <button type="button"  (click)="passwordResetSuccess1()" class="grey-button">Back</button>
            <button type="button" (click)="resetPassword()" class="Custombutton">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  
  <!-- Step 4: Success -->
  <section *ngIf="step === 'done'">
    <div class="body">
      <div class="form">
        <form class="form__content">
          <div class="form__content__header">
            <h1><img src="../../../../assets/images/greenKey.svg" /></h1>
          </div>
          <div class="header">
            <h1 class="passText">Password reset</h1>
            <h3 class="quest">Your password has been successfully reset.</h3>
          </div>
          <div class="form__field form__submit">
            <button type="button" (click)="passwordResetSuccess()" class="Custombutton">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
