$space: 1rem;
*,
*:before,
*:after {
  box-sizing: border-box;
}

.body {
  margin: auto;
  width: 100%;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #6a6a6a;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.012em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //   position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
a,
a label {
  cursor: pointer;
}
a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.navbar {
  width: 100%;
  padding: $space ($space * 0.5);
  background-color: #dadada;
  text-align: center;
  font-weight: 700;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: ($space * 2) ($space * 2) 0;
  box-shadow: 0 0 $space rgba(0, 0, 0, 0.03),
    0 $space ($space * 2) rgba(0, 0, 0, 0.05),
    0 ($space * 2) ($space * 4) rgba(0, 0, 0, 0.05),
    0 ($space * 4) ($space * 8) rgba(0, 0, 0, 0.05);
}

.form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: ($space * 2);
}

.form__footer {
  margin-top: 40px;
  align-self: self-end;
  font-size: small;
}

.form__content__header {
  text-align: center;
  margin: 0 0 0;
}

.form__content__heading {
  margin: 0 0 ($space * 0.5);
}

.form__content__description {
  color: gray;
  font-size: 0.875rem;
  text-align-last: left;
  margin-top: 30px;
  text-align-last: center;
}

.form__field {
  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  display: inline-block;
  margin-bottom: $space * 0.25;
  font-weight: 700;
  color: #6a6a6a;

  &[for] {
    cursor: pointer;
  }
}

.form__input {
  display: block;
  width: 100%;
  border: 1px solid #cecece;
  border-radius: $space * 0.25;
  padding: ($space * 0.75) $space;
  color: inherit;
  font-family: inherit;
}

.form__submit {
  text-align: center;
}

.btn1 {
  display: block;
  width: 100%;
  font-family: inherit;
  padding: 0.75rem 1rem;
  cursor: pointer;
  letter-spacing: inherit;
  margin-bottom: 0.5rem;
  background-color: #ffffff;

  &:hover,
  &:focus {
    background-color: #6a6a6a;
  }
}

.form__submit a {
  font-size: 0.875rem;
}

.cta {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: $space * 4;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

@media (min-width: 48rem) {
  .body {
    flex-direction: row;
  }

  .form {
    margin: 0;
    box-shadow: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .form__content {
    width: $space * 26;
  }

  .cta__content {
    max-width: 32rem;
    margin: auto;
  }
}

@media (min-width: 72rem) {
  .form__content {
    width: $space * 32;
    padding: ($space * 4);
  }
}

.signUp {
  color: #064ad1;
}

.forgotPass {
  color: #064ad1;
  text-align-last: left;
  margin-top: 10px;
}

.quest {
  align-content: center;
}

.header {
  align-self: center;
  text-align-last: center;
}

.quest {
  text-align: center;
  font-size: large;

  font-weight: 400;
}
.passText {
  font-size: x-large;
}

.guy {
  height: 350px;
}
.img {
  bottom: 0px;
}

.footer {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.error {
  margin-bottom: 15px;
  /* margin-top: -20px; */
  color: red;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #f2dede;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.success {
  margin-bottom: 15px;
  /* margin-top: -20px; */
  color: green;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #d8ffc1;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.Custombutton {
  margin-top: unset;
  display: block;
  width: 100%;
  font-family: inherit;
  background: #556f83;
  color: #fff;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: inherit;
  margin-bottom: 0.5rem;
  // margin-top: 2rem;
}

.mat-form-field-wrapper {
  padding-bottom: unset !important;
}

.grey-button {
  width: -webkit-fill-available !important;
}
