<!-- <app-ecompliances-certificatedetails></app-ecompliances-certificatedetails> -->
<h1>Monitoring Compliances
</h1>
<div class="container">
  <div class="form-group">
<button type="button" name="contact" (click)="oncontactus()" class="style" > e-Compliances</button>
     <button type="button" name="Report" (click)="onreport()" class="style" > Report</button>
     <button type="button" name="Usermanual" (click)="onusermanual()" class="style" > User Manual</button>
  
      </div>
</div>
<div class="container">
 
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Group Company:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Group Type:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>
  </div>
  <div class="form-row">
    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Region:</mat-label>
        <mat-select disableOptionCentering>
          <mat-option>All</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="radio-buttons">
      <input type="radio" value="Overview" formControlName="typeofcompliancecertificate" class="radio-button">Enabled
    </div>
  </div>
  
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Sub-Region:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Sector:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>
  </div>
           

    <div class="form-row">
      <div class="form-field">
    <mat-form-field appearance="outline" >
     <mat-label>Sub-Sector:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>
</div>
  <div class="radio-buttons">
    <input type="radio" value="Overview" formControlName="typeofcompliancecertificate" class="radio-button">disabled
  </div>
 
  </div>
  
      
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Company:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>

  </div>
     
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Unit Type:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>

  </div>       
              
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Unit:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>

  </div>   
              
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>X Axis value:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>Nature of law</mat-option>
  </mat-select>
  </mat-form-field>

  </div>   
           
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Department:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>

  </div>  
          
                  
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Nature of Low:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>

  </div>      
  <div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Risk Category:</mat-label>
  <mat-select disableOptionCentering>
  <mat-option>All</mat-option>
  </mat-select>
  </mat-form-field>

  </div>    
   </div>
          <!-- Some more form groups... -->
        
         
         <!-- <p>Selected Option: {{ selectedOption }}</p> -->
        
        
        

      
     
  <!-- <div class="container">
    <div class="form-group">
        <h4>graph value</h4>
    </div>
    
  </div>
  <div class="form-container" id="form1">
    <div class="form-group">
      <canvas id="pieChart" width="400" height="400"></canvas>
    </div>
      </div>
  -->