  <mat-tab-group class="custom-tab-group">
    <mat-tab label="Compliance Dashboard" class="custom-tab">
      <div id="calendar" style="height: 800px;">
        
      </div>
    </mat-tab>
    <mat-tab label="Compliance Calendar" class="custom-tab">
      <br>
      <!-- <div class="calendar-container">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
        </mat-form-field>
      
  
        <mat-card *ngIf="selectedDateDetails.length > 0" class="details-card">
          <mat-card-title>Compliance Details for {{ selectedDate | date: 'longDate' }}</mat-card-title>
      
          <mat-card-content>
            <div *ngFor="let detail of selectedDateDetails" [ngStyle]="{'background-color': detail.color}" class="compliance-detail">
              <p>{{ detail.type }}: {{ detail.description }}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div> -->
  <div class="calendar-container">
    <!-- Calendar taking 1/3 of the width -->
  
    <!-- Cards section taking 2/3 of the width -->
    <div class="search-container">
      <!-- Search box for filtering cards -->
      <mat-form-field appearance="outline" class="search-box">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="filterCards($event)" placeholder="Filter by compliance type or description" />
      </mat-form-field>
  
      <!-- Loop through filteredDateDetails and repeat mat-card for each detail -->
      <div class="details">
        <mat-card *ngFor="let detail of filteredDateDetails" class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ detail.type }}</mat-card-title>
              <mat-card-subtitle>{{ detail.description }}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <!-- Additional content if necessary -->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
    </mat-tab>


    <mat-tab label="Compliance List" class="custom-tab">
      <br>
      <div class="row">
        <div class="department-container">
          <dx-drop-down-box 
            formControlName="department"
            [(value)]="selectedOption3"
            [inputAttr]="{ 'aria-label': 'Owner' }"
            placeholder="Select Department*"
            [showClearButton]="false"
            labelMode="floating"
            valueExpr="locationdepartmentmappingid"
            displayExpr="departmentname"
            [dataSource]="department"
            searchEnabled="true"
            (onValueChanged)="searchComplianceTasks()">
            
            <div *dxTemplate="let data of 'content'">
              <dx-data-grid
                [dataSource]="department"
                [selection]="{ mode: 'single' }"
                [hoverStateEnabled]="true"
                [columns]="EntityUnitLocationDepartmentColumns"
                [(selectedRowKeys)]="selectedOption3"
                [filterRow]="{ visible: true }"
                [scrolling]="{ mode: 'virtual' }"
                [showColumnHeaders]="true">
              </dx-data-grid>
            </div>
          </dx-drop-down-box>
        </div>
      
        <div class="show-data-container">
          <dx-select-box 
          label="Show data for"
          valueExpr="id"
          displayExpr="text"
          [dataSource]="ShowDatafords"
          selectionMode="single"
          [searchEnabled]="true"
          [(value)]="selectedDays"
          (onValueChanged)="onDaysChanged($event)"
          formControlName="ShowDatafor">
        </dx-select-box>
        
        </div>
      
        <div class="Custombutton">
          <button class="button" (click)="onRefresh()">Refresh</button>
        </div>
      </div>
  <br>
  <div class="container">
  <div class="row mb-3">
  <div class="col">
  <h2>List Of Compliance Task for Audit</h2>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12 d-flex align-items-center custom-row">
  <p class="custom-text mb-0">Search Result: Showing <strong>{{complianceCount}}</strong> Compliance's</p>
  
  <mat-form-field appearance="fill" class="custom-search">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" [(ngModel)]="searchText">
    <button mat-icon-button matSuffix (click)="resetSearch()">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-icon-button matSuffix (click)="performSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field class="custom-select">
    <mat-label>Select Action</mat-label>
    <mat-select [(ngModel)]="selectedOption" (selectionChange)="onSelectionChange($event)">
      <mat-option value="0">Select Action</mat-option>
      <mat-option value="1">AUDIT</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex align-items-center custom-row"><strong>Filters:</strong></div>
    <div class="example-button-container">
      <button mat-raised-button
              [ngClass]="{'highlight-button': SelectedStage('auditDue')}"
              style="background-color: rgb(157, 191, 241);"
              (click)="selectStage('auditDue')">Audit Due</button>
      
      <button mat-raised-button
              [ngClass]="{'highlight-button': SelectedStage('auditOverdue')}"
              style="background-color: rgb(235, 144, 91);"
              (click)="selectStage('auditOverdue')">Audit Overdue</button>

              <button mat-raised-button
              style="background-color: rgb(244, 245, 247);"
              (click)="clearFilters()">Clear</button>
    </div>
  </div>
      <br>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table"  matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
 <mat-checkbox (change)="toggleAll($event)" [checked]="isAllSelected()" [indeterminate]="isSomeSelected()"></mat-checkbox>  
        </th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox (change)="onCheckboxChange($event, item)" [checked]="isSelected(item)"></mat-checkbox>
        </td>
      </ng-container>
      
            <ng-container matColumnDef="matCardColumn">
              <!-- <th mat-header-cell *matHeaderCellDef> Compliance Task Details </th> -->
              <th mat-header-cell *matHeaderCellDef>
                <div class="header-content">
                    Compliance Task Details
                </div>
              </th>
              <td mat-cell *matCellDef="let item">
                <mat-card class="menu-item-card shadow-button">
                  <mat-card-content class="card-content">
                    <div class="flex-container">
                      <div class="flex-item">
                          <p><strong [ngStyle]="{'color': getComplianceStageColor(item.audit_status)}">Entity Name:</strong> 
                             {{ item.entityName?.toString().slice(0, 25) }}<span *ngIf="item.entityName?.length > 35">...</span>
                        </p>
                      </div>
                      <div class="flex-item">
                        <p><strong [ngStyle]="{'color': getComplianceStageColor(item.audit_status)}">Unit Location Name:</strong> 
                          {{ item.unitLocationName?.toString().slice(0, 25) }}<span *ngIf="item.unitLocationName?.length > 25">...</span>
                        </p>
                      </div>
                      <div class="flex-item">
                        <p><strong [ngStyle]="{'color': getComplianceStageColor(item.audit_status)}">Compliance ID:</strong> 
                          {{ item.complianceID?.toString().slice(0, 25) }}<span *ngIf="item.complianceID?.length > 25">...</span>
                        </p>
                      </div>
                      <div class="flex-item">
                        <p><strong [ngStyle]="{'color': getComplianceStageColor(item.audit_status)}">Compliance Name:</strong> 
                          {{ item.complianceName?.toString().slice(0, 25) }}<span *ngIf="item.complianceName?.length > 25">...</span>
                        </p>
                      </div>
                      <div class="flex-item">
                        <p><strong [ngStyle]="{'color': getComplianceStageColor(item.audit_status)}">Act Name:</strong> 
                          {{ item.actName?.toString().slice(0, 25) }}<span *ngIf="item.actName?.length > 25">...</span>
                        </p>
                      </div>
                      <div class="flex-item">
                        <p><strong [ngStyle]="{'color': getComplianceStageColor(item.audit_status)}">Rule Name:</strong> 
                          {{ item.ruleName?.toString().slice(0, 25) }}<span *ngIf="item.ruleName?.length > 25">...</span>
                        </p>
                      </div>
                      <div class="flex-item">
                        <p><strong [ngStyle]="{'color': getComplianceStageColor(item.audit_status)}">Statutory Form:</strong> 
                          {{ item.statutoryForm?.toString().slice(0, 25) }}<span *ngIf="item.statutoryForm?.length > 25">...</span>
                        </p>
                      </div>
                      <div class="flex-item">
                        <p><strong [ngStyle]="{'color': getComplianceStageColor(item.audit_status)}">Section/Rule/Regulation:</strong> 
                          {{ item.sectionRuleRegulation?.toString().slice(0, 25) }}<span *ngIf="item.sectionRuleRegulation?.length > 25">...</span>
                        </p>
                      </div>
                      <div class="flex-item">
                        <p><strong [ngStyle]="{'color': getComplianceStageColor(item.audit_status)}">Compliance Period:</strong> 
                          {{ item.compliancePeriod?.toString().slice(0, 25) }}<span *ngIf="item.compliancePeriod?.length > 25">...</span>
                        </p>
                      </div>
                      <div class="flex-item">
                        <p><strong [ngStyle]="{'color': getComplianceStageColor(item.audit_status)}">Risk Classification:</strong> 
                          {{ item.riskClassification?.toString().slice(0, 25) }}<span *ngIf="item.riskClassification?.length > 25">...</span>
                        </p>
                      </div>
                      <div class="flex-item">
                        <button mat-icon-button class="corner-icon-button" (click)="openInfoDialog(item)">
                          <mat-icon class="blue-info-icon">info</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
                
              </td>
            </ng-container>
        <!-- <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef> Due Date </th>
          <td mat-cell *matCellDef="let item"> {{ item.dueDate }} </td>
        </ng-container> -->
        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef>Due Date</th>
          <td mat-cell *matCellDef="let item">
            <div class="due-container">
              <div class="due-date">{{ item.dueDate | date:'dd' }}</div>
              <div class="due-month">{{ item.dueDate | date:'MMM' }}</div>
              <div class="due-year">{{ item.dueDate | date:'yyyy' }}</div>
              <div class="additional-text">{{ item.days_status }}</div>
            </div>
          </td>
        </ng-container>
        
      
      <ng-container matColumnDef="complianceUpdateDate">
        <th mat-header-cell *matHeaderCellDef>Compliance Update Date</th>
        <td mat-cell *matCellDef="let item"> 
          <div class="due-container">
            <div class="due-date">{{ item.complainceUpdatedDate | date:'dd' }}</div>
            <div class="due-month">{{ item.complainceUpdatedDate | date:'MMM' }}</div>
            <div class="due-year">{{ item.complainceUpdatedDate | date:'yyyy' }}</div>
            <div class="additional-text">{{ item.additionalText }}</div>
          </div>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="auditDueDate">
        <th mat-header-cell *matHeaderCellDef>Audit Due Date</th>
        <td mat-cell *matCellDef="let item"> 
          <div class="due-container">
            <div class="due-date">{{ item.complaincAuditDueDate | date:'dd' }}</div>
            <div class="due-month">{{ item.complaincAuditDueDate | date:'MMM' }}</div>
            <div class="due-year">{{ item.complaincAuditDueDate | date:'yyyy' }}</div>
            <div class="additional-text">{{ item.additionalText }}</div>
          </div>
        </td>
      </ng-container>
        <ng-container matColumnDef="complianceStage">
          <th mat-header-cell *matHeaderCellDef> Compliance Stage Progress </th>
          <td mat-cell *matCellDef="let item">
            <div class="stage-badge" [ngStyle]="getCellStyle(item.audit_status)">
              {{ item.compliance_stage_progress }}
            </div>
          </td>
        </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
       </mat-tab>
  </mat-tab-group>
  