.body {
    padding: 30px;
    padding-top: 20px;
  }
  .h1 {
    font-size: revert;
    font-weight: 500;
  }
  .required-asterisk {
    color: red;
  }
  .button {
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 20px;
  }