<!-- <div class="circle-card" [style.background]="backgroundColor">
    <div class="circle-card-content">
      <div class="circle-card-count">{{ count }}</div>
    </div>
    
  </div>
  <div class="circle-card-label">{{ label }}</div> -->
  <div class="circle-card-container">
    <div class="circle-card" [style.background]="backgroundColor">
      <div class="circle-card-content">
        <div class="circle-card-count">{{ count }}</div>
      </div>
    </div>
    <div class="circle-card-label">{{ label }}</div>
  </div>
  
  <!-- <mat-card class="custom-card" [style.background]="backgroundColor">
    <mat-card-header fxLayoutAlign="center" style="color: white;">
      {{ count }}
    </mat-card-header>
    <mat-card-subtitle fxLayoutAlign="center" style="color: white; font-size: 15px;">
      {{ label }}
    </mat-card-subtitle>
  </mat-card> -->