<div class="form">
    <div class="body">
      <div class="header">
        <div style="align-self: self-end">
          <br>
          <h2 class=" title" style="align-items: center;"> Update Over All Risk Appetite
            </h2>
        </div>
      </div> 
      <br>
    
        <br>
        <div class="box">
           <div>

             <dx-drop-down-box 
            
             [(value)]="selectedOption1"         
             [inputAttr]="{ 'aria-label': 'Owner' }"
             placeholder="Select Risk Appetite Name*"
             label="Select t Risk Appetite Name*"
             [showClearButton]="true"
             labelMode="floating"
             valueExpr="overallriskappititeid"
             displayExpr="riskAppetitename"
             [(opened)]="isGridBoxOpened"
             [dataSource]="riskappetite"
             (onValueChanged)="getUpdateFormData($event)"
            >   
            <div *dxTemplate="let data of 'content'">
             <dx-data-grid    
             [dataSource]="riskappetite"
             [columns]="gridColumns1"
               [selection]="{ mode: 'single' }"
               [hoverStateEnabled]="true"
               [(selectedRowKeys)]="selectedOption1"
               [filterRow]="{ visible: true }"
               [scrolling]="{ mode: 'virtual' }"
               [showColumnHeaders]="false"
               height="100%"
             >
             <dxo-filter-row [visible]="true"></dxo-filter-row>
             <dxo-scrolling mode="virtual"></dxo-scrolling>
             <dxo-header-filter [visible]="true" [allowSearch]="true">
               <dxo-search [enabled]="true"></dxo-search>
             </dxo-header-filter>
             <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
             <dxo-pager
             [visible]="true"
             [allowedPageSizes]="[ 10,20, 'all']"
            
             [showPageSizeSelector]="true"
            
             [showInfo]="true"
             infoText="Page {0} of  {1} ({2} items)"
             [showNavigationButtons]="true">
           </dxo-pager>
       
           <dxo-group-panel [visible]="true"></dxo-group-panel>
             <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
             </dx-data-grid>
           </div> 
          </dx-drop-down-box>
          
             </div>
        
        </div>
        <br>
        <br>
        <form [formGroup]="keyfocus"  (ngSubmit)="SubmitUpdateForm()" >

            <div class="row">
                <div class="box">
                    <div>
                        <dx-select-box 
                 formControlName="entity"
                 label="Select Entity Type*"
              labelMode="floating"
              valueExpr="entity_Master_id"
              displayExpr="entity_Master_Name"
              [dataSource]="Entity"  
              [searchEnabled]="true"
              (onValueChanged)="getunitlocation($event)"
              selectionMode="single" 
              placeholder=""
                 > </dx-select-box> 
                      </div>
                 
                 </div>
                 <div class="box">
                    <dx-select-box 
                    formControlName="location"
                    label="Select  unit  location*"
                    labelMode="floating"
                    valueExpr="unit_location_Master_id"
                    displayExpr="unit_location_Master_name"
                    [searchEnabled]="true"
                    [dataSource]="location"  
                    (onValueChanged)="getdepartment($event)" 
                    selectionMode="single" 
                      >    </dx-select-box>
                
                </div>
            </div>
            <br>
            <div class="row">
                <div class="box">
                    <div>
                        <dx-select-box 
                        formControlName="department"
                        label="Select Department Type *"
                        labelMode="floating"
                        valueExpr="department_Master_id"
                        displayExpr="department_Master_name"
                        [searchEnabled]="true"
                        [dataSource]="Department"  
                        (onValueChanged)="getbusiness($event)"
                        selectionMode="single" 
                          ></dx-select-box>
                      </div>
                 
                 </div>
                 <div class="box">
                 <dx-select-box 
                 formControlName="businessid"
                 label="Select Business Name*"
              labelMode="floating"
              valueExpr="riskBusinessfunctionid"
              displayExpr="riskbusinessname"
              [dataSource]="business"  
              [searchEnabled]="true"
              selectionMode="single" 
              placeholder=""
              (onValueChanged)="getbusinessprocesess($event)"
                 > </dx-select-box>
                </div>
            </div>
            <br>
            <h3>Map To</h3>
    
    <div class="row">
        <div class="box">
            <dx-select-box 
            formControlName="businessProcessid"
            label="Select Business Process Name*"
               labelMode="floating"
            [showClearButton]="true"
            labelMode="floating"
            valueExpr="businessprocessID"
            displayExpr="businessProcessName"
            [dataSource]="businessprocess"
            selectionMode="single" 
            placeholder=""
            height="40px" >    
         </dx-select-box>
        </div>
    
        <div class="box">
      
          <div class="dx-fieldset">
            <div class="dx-fieldset-header"><h4>Set Overall Risk Tolerance Trigger</h4></div>
            <div class="dx-field">
              <div class="dx-field-label">On handle movement</div>
              <div class="dx-field-value">
                <dx-slider
                [min]="1"
                [max]="100"
                valueChangeMode="onHandleRelease"
                [(value)]="start"
                formControlName="startValue"
              >
              <dxo-label
              [visible]="true"
              [format]="format"
              position="top"
            ></dxo-label>
            <dxo-tooltip
                  
            [enabled]="true"
      [format]="format"
      showMode="always"
      position="top"
    ></dxo-tooltip>
        </dx-slider>
              </div>
            </div>
           
            <div class="dx-field">
              <div class="dx-field-label">Start value</div>
              <div class="dx-field-value">
                <dx-number-box
                [min]="1"
                [max]="100"
                [showSpinButtons]="true"
                [(value)]="start"
                [inputAttr]="{ 'aria-label': 'Slider Value' }"
                formControlName="startValue"
              ></dx-number-box>
              </div>
            </div>
           
          </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
         
          <dx-select-box 
          formControlName="Acceptance"
          label="Risk Appetite to track *"
       labelMode="floating"
       valueExpr="risk_admin_asscontracptCritid"
       displayExpr="risk_admin_asscontracptCritname"
       [dataSource]="Appetite"  
       [searchEnabled]="true"
       selectionMode="single" 
       placeholder=""
          > </dx-select-box>
          
        </div>
    </div>
    <br>
    <div class="row">
        <div class="box">
            <mat-form-field  appearance="fill" class="form-field">
                <mat-label>Objective of Overall Risk Appetite vs Acceptance Criteria*</mat-label>
                <input matInput  #titleinput  formControlName="RiskAppetitename"  maxlength="500" >
                <mat-hint align="start" >Min 1 - Max 500 Characters</mat-hint>
                <mat-hint align="end">{{titleinput.value.length}}/500</mat-hint> 
              </mat-form-field>
                  </div>
                  <div class="box">
              <mat-form-field  appearance="fill" class="form-field">
                <mat-label>Objective of Overall Risk Tolerance comparison *</mat-label>
                <textarea matInput   #titleinput1 formControlName="trolerancecoparison" maxlength="500" ></textarea>
                <mat-hint align="start" >Min 1 - Max 500 Characters</mat-hint>
                <mat-hint align="end">{{titleinput1.value.length}}/500</mat-hint> 
      
      
              </mat-form-field>
        </div>
    </div>
         <div class="margin-top"></div>
         <div class="button">
          <button class="grey-button"  (click)="Cancel()" >Cancel</button>
           <button class="Custombutton"  >Update</button>
         </div>
        </form>
    </div>
</div>


