<h1>Monitoring Compliances </h1>
<div class="container">
    <div>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>From Date</mat-label>
            <input  matInput   type="date" >
         
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>To Date</mat-label>
            <input  matInput   type="date" >
         
            </mat-form-field>
          </div>
 <div >
      <mat-form-field appearance="outline" class="form-field">
       <mat-label>Unit type: </mat-label>
    <mat-select disableOptionCentering>
<mat-option>All</mat-option>
</mat-select>
</mat-form-field>
</div>

<div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Units: </mat-label>
  <mat-select disableOptionCentering>
<mat-option>All</mat-option>
</mat-select>
</mat-form-field>
</div>

<div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Department: </mat-label>
  <mat-select disableOptionCentering>
<mat-option>All</mat-option>
</mat-select>
</mat-form-field>
</div>

<div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Law:</mat-label>
  <mat-select disableOptionCentering>
<mat-option>All</mat-option>
</mat-select>
</mat-form-field>
</div>

<div >
    <mat-form-field appearance="outline" class="form-field">
     <mat-label>Risk category:</mat-label>
  <mat-select disableOptionCentering>
<mat-option>All</mat-option>
</mat-select>
</mat-form-field>
</div>


<div></div>
<div>
    <button type="button">Refresh</button>
    <button type="button">Reset</button>
    <button type="button">Export</button>
</div>
  
</div>
 
