.button {
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 20px;
}
.boxNew {
  display: flex;
  padding-left: 30px; 
  gap:30px;
  flex-direction: row;
  width: 70%;
}
.boxNew> * {
  flex: 1 none none;
  
}

.header{
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
}

::ng-deep #form-container {
  margin: 10px;
}

 
.wrapper{
  padding: 20px;
  
}

::ng-deep .long-title h3 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.readonly-input {
  pointer-events: none;
  background-color: hsl(0, 19%, 93%);
  color: #333; /* Adjust styles as needed */
}
.table-container {
  max-width: 1000px; /* Set the maximum width of the container */
  margin: 10px; /* Center the container horizontally */
}

.mat-table {
  width: 100%; /* Set the width of the table to 100% of its container */
}

.scrollable-textarea {
  overflow: auto;
  resize: vertical; /* Optional: Allow vertical resizing */
  min-height: 100px; /* Optional: Set a minimum height */
}
