$space: 1rem;


table {
    width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 6px;
}

thead {
  background-color: #f9f9f9;
}

.risk-averse {
  background-color: #00ff00;
  color: black;
}

.risk-neutral {
  background-color: #0000ff;
  color: white;
}

.risk-aggressive {
  background-color: #ff0000;
  color: white;
}

.active {
  font-weight: bold;
}
.vertical-header {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  text-align: center;
  padding: 20px 10px;
  width: 30px;
  background-color: #f9f9f9;
}
.bp{
  font-size: large;
  font-weight: 500;
}


@media screen and (min-width: 770px) {
  .form2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background-color: #fff;
    margin: ($space * 2) ($space * 2) 0;
    box-shadow: 0 0 $space rgba(0, 0, 0, 0.03),
      0 $space ($space * 2) rgba(0, 0, 0, 0.05),
      0 ($space * 2) ($space * 4) rgba(0, 0, 0, 0.05),
      0 ($space * 4) ($space * 8) rgba(0, 0, 0, 0.05);
  }
  table {
    width: 80%;
    border-collapse: collapse;
 
  }
}