<div class="form2 p-4">
  <div class="header">
    <h3 class="text-blue-500">View Risk & Control Matrix</h3>
  </div>
  <div class="body">
    <div class="grid grid-cols-2 gap-8 py-6 lg:w-4/5">
      <label class="text-gray-400"
        >Entity Name<span class="text-red-600 pl-2">*</span>
        <dx-select-box
          label="Select from list*"
          labelMode="floating"
          [searchEnabled]="true"
          selectionMode="single"
        >
        </dx-select-box
      ></label>
      <label class="text-gray-400"
        >Unit Location<span class="text-red-600 pl-2">*</span>
        <dx-select-box
          label="Select from list*"
          labelMode="floating"
          [searchEnabled]="true"
          selectionMode="single"
        >
        </dx-select-box
      ></label>
      <label class="text-gray-400"
        >Department Name<span class="text-red-600 pl-2">*</span>
        <dx-select-box
          label="Select from list*"
          labelMode="floating"
          [searchEnabled]="true"
          selectionMode="single"
        >
        </dx-select-box
      ></label>
      <label class="text-gray-400"
        >Business Function<span class="text-red-600 pl-2">*</span>
        <dx-select-box
          label="Select from list*"
          labelMode="floating"
          [searchEnabled]="true"
          selectionMode="single"
        >
        </dx-select-box
      ></label>
      <label class="flex items-center gap-2 text-base font-medium py-6">
        <input
          type="radio"
          name="tableSelection"
          value="option1"
          [(ngModel)]="selectedOption"
          (change)="onSelectionChange('option1')"
        />Risk Appetite View
      </label>
      <label class="flex items-center gap-2 text-base font-medium py-6">
        <input
          type="radio"
          name="tableSelection"
          value="option2"
          [(ngModel)]="selectedOption"
          (change)="onSelectionChange('option2')"
        />Control Acceptance View
      </label>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="2" rowspan="2"></th>
          <th *ngFor="let group of currentHeaders" colspan="3">
            {{ group.title }}
          </th>
        </tr>
        <tr>
          <ng-container *ngFor="let group of currentHeaders">
            <th
              *ngFor="let subHeader of group.subHeaders; let j = index"
              [ngStyle]="getSubHeaderColor(j)" class="text-white"
            >
              {{ subHeader }}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th rowspan="4" class="vertical-header">Business Process</th>
        </tr>
        <tr>
          <td class="bp">BP-1</td>
          <td>RR-3</td>
          <td></td>
          <td>RR-1</td>
        </tr>
        <tr>
          <td class="bp">BP-2</td>
          <td></td>
          <td>RR-2</td>
          <td></td>
        </tr>
        <tr>
          <td class="bp">BP-3</td>
          <td></td>
          <td></td>
          <td>RR-1</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
