<div class="form2 p-4">
  <div class="header">
    <h2 class="title">Control Statement</h2>
  </div>
  
  <div class="body">
    <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <!-- Adding Control Statement -->
    <div class="grid lg:grid-cols-2 gap-4">
      <p class="text-lg lg:col-span-2">Create and Add to Control Library</p>
      <div>
        <mat-label class="text-gray-400"
          >Control Objective/Heading<span class="text-red-600 pl-2"
            >*</span
          ></mat-label
        >
        <mat-form-field appearance="fill" class="form-field rounded-full">
          <textarea
            matInput
            #titleinput1
            formControlName="objective"
            maxlength="250"
            minlength="5"
          ></textarea>
          <mat-hint align="start">Min 5 - Max 250 Characters</mat-hint>
          <mat-hint align="end">{{ titleinput1.value.length }}/250</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-label class="text-gray-400"
          >Control Brief Description<span class="text-red-600 pl-2"
            >*</span
          ></mat-label
        >
        <mat-form-field appearance="fill" class="form-field">
          <textarea
            matInput
            #titleinput1
            formControlName="briefdesc"
            maxlength="500"
            minlength="5"
          ></textarea>
          <mat-hint align="start">Min 5 - Max 500 Characters</mat-hint>
          <mat-hint align="end">{{ titleinput1.value.length }}/500</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-label class="text-gray-400"
          >Control Detailed Description<span class="text-red-600 pl-2"
            >*</span
          ></mat-label
        >
        <mat-form-field appearance="fill" class="form-field">
          <textarea
            matInput
            #titleinput1
            formControlName="detaileddesc"
            maxlength="2500"
            minlength="5"
          ></textarea>
          <mat-hint align="start">Min 5 - Max 2500 Characters</mat-hint>
          <mat-hint align="end">{{ titleinput1.value.length }}/2500</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <!-- Sub-Control Checkbox -->
    <label class="font-semibold text-base items-center flex">
      <input
        type="checkbox"
        formControlName="checkboxField"
        (change)="onCheckboxChange($event)"
        [(ngModel)]="isPanelVisible"
        class="mx-2 my-6 check"
      />
      Add Sub-Control(s)
    </label>

    <!-- Sub-Control Form -->
    <div *ngIf="isPanelVisible">
      <div class="flex flex-col gap-4">

        <!-- Headings -->
        <div
          class="grid lg:grid-cols-8 grid-cols-4 lg:text-base lg:font-medium text-blue-600"
        >
          <p class="lg:col-span-3 start">Sub-Control(s)</p>
          <p class="text-center">Make Dependent</p>
          <p class="lg:col-span-2 text-center">Map Sub-Control ID</p>
          <p></p>
        </div>

        <!-- First Mandatory Sub-Control  -->
  <!-- Default Sub-Control-0 -->
<div class="grid lg:grid-cols-8 grid-cols-4">
  <div class="lg:col-span-3 col-span-4 start lg:w-10/12">
    <mat-label class="text-gray-400">
      Default Sub-Control-0<span class="text-red-600 pl-2">*</span>
    </mat-label>
    <mat-form-field appearance="fill" class="form-field rounded-full">
      <textarea
        matInput
        #titleinput1
        maxlength="2500"
        formControlName="additionalsub1"
        minlength="5"
      ></textarea>
      <mat-hint align="end">{{ titleinput1.value.length }}/2500</mat-hint>
    </mat-form-field>
  </div>   <p></p>
  <p></p>
  <p></p>
</div>

<!-- Additional Sub-Controls -->
<div formArrayName="fields">
  <div *ngFor="let field of fields.controls  as FormGroup; let i = index" [formGroupName]="i">
    <div class="grid lg:grid-cols-8 grid-cols-4">
      <!-- Sub-Control -->
      <div class="lg:col-span-3 start lg:w-10/12">
        <mat-label class="text-gray-400">
          Sub-Control-{{ i + 1 }}<span class="text-red-600 pl-2">*</span>
        </mat-label>
        <mat-form-field appearance="fill" class="form-field rounded-full">
          <textarea
            matInput
            #titleinput1
            formControlName="additionalsub"
            maxlength="2500"
            minlength="5"
          ></textarea>
          <mat-hint align="end">{{ titleinput1.value.length }}/2500</mat-hint>
        </mat-form-field>
      </div>

      <!-- Dependent Checkbox -->
      <div class="flex justify-center items-center">
        <input
          type="checkbox"
          formControlName="checkboxField2"
          id="checkboxField2{{ i }}"
          class="check"
        />
      </div>
      
      <!-- Control ID selection -->
      <div class="lg:col-span-2 flex items-center justify-center">
        <!-- Check if the checkbox is selected -->
        <div *ngIf="field.get('checkboxField2')?.value" class="flex items-center justify-center">
          <dx-select-box
            formControlName="dependentid"
            label="Select Control IDs*"
            labelMode="floating"
            [searchEnabled]="true"
            [dataSource]="additionalSubValues"
            displayExpr="this"
            selectionMode="single"
            id="dependentid{{ i }}"
          ></dx-select-box>
        </div>
      </div>



      <!-- Remove Button -->
      <button
        class="flex lg:justify-start justify-center items-center lg:text-5xl text-3xl text-red-600 lg:pl-6"
        (click)="removeField(i)"
      >
        &times;
      </button>
    </div>
  </div>
</div>
      </div>
    </div>
<!-- Adding button and sub-control count -->
<div class="flex lg:flex-row lg:gap-8 gap-4 items-center lg:ml-40">
  <button class="file-input-button w-24 lg:w-36" type="button" (click)="addField()">
    Add More
  </button>
  <mat-hint align="end" class="text-orange-500 lg:text-base italic">
    {{ 100 - fields.length }} more sub-controls can be added
  </mat-hint>
</div>


    <!-- Source of control statement -->

      <p class="text-xl font-semibold">Source of Control Statement</p>
      <div formArrayName="references">
        <div
          *ngFor="let reference of references.controls; let key = index"
          [formGroupName]="key"
        >
            <div
              class="grid lg:grid-cols-3 lg:justify-center lg:place-content-center lg:gap-6"
            >
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>Select Option</mat-label>
                <mat-select
                  formControlName="referenceType"
                  (selectionChange)="onReferenceTypeChange($event.value, key)"
                >
                  <mat-option value="weblink">Weblink</mat-option>
                  <mat-option value="file">File Attachment</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                class="form-field"
                *ngIf="reference.get('referenceType')?.value === 'weblink'"
              >
                <mat-label>Weblink</mat-label>
                <input formControlName="referencetypeValue" matInput />
              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field" *ngIf="reference.get('referenceType')?.value === 'file'">  
                <mat-label>File Attachment</mat-label>
            
                  <input matInput formControlName="file_attachment" [value]="reference.get('file_attachment')?.value" readonly>
                  <label class="file-input">      
                    <input type="file" accept=".pdf,.doc,.docx,image/jpeg,image/png"  (change)="onMainFileSelected($event, key)">
                  </label>
               
        
              </mat-form-field>
              <div class="flex lg:justify-start justify-center items-center">
                <button
                  class="text-red-600 underline pb-4"
                  (click)="removeReferenceField(key)"
                >
                  Remove
                </button>
              </div>
            </div>
           
          </div>
        </div>
        <div class="flex lg:flex-row gap-4 items-center lg:my-4">
          <button
              class="file-input-button w-24"
              type="button"
              (click)="addReferenceField()"
            >
              Add More
            </button>
          <mat-hint align="end" class="text-orange-500 italic"
            >{{ 5 - bCount }} more references can be added</mat-hint
          >
        </div>
       
   

        <div class="grid lg:grid-cols-3 gap-6 my-10">
          <label class="text-gray-400 col-span-3">Control Measure<span class="text-red-600 pl-2">*</span></label>
          <dx-select-box
            class="col-span-3"
            label="Select Control Measure, ControlComponent, Control Principles*"
            labelMode="floating"
            [searchEnabled]="true"
            selectionMode="single"
            formControlName="controlmeasure"
            [dataSource]="conrolprincple"
            valueExpr="risk_admin_inter_contr_Principles_id"
            displayExpr="combinename"
          >
          </dx-select-box>
      
        
     <!-- <label class="text-gray-400">Internal Control Component<span class="text-red-600 pl-2"
      >*</span
    > <dx-select-box
                    label="Select from list*"
                    labelMode="floating"
                    [searchEnabled]="true"
                    selectionMode="single"
                  >
      </dx-select-box></label>
     <label class="text-gray-400">Internal Control Principles<span class="text-red-600 pl-2"
      >*</span
    > <dx-select-box
                    label="Select from list*"
                    labelMode="floating"
                    [searchEnabled]="true"
                    selectionMode="single"
                  >
      </dx-select-box></label> -->
    </div>
    <div class="flex justify-between lg:items-end lg:justify-end lg:gap-[20px] gap-6">
      <button class="grey-button text-black"  (click)="Cancel()" >Cancel</button>
    <button  class="Custom_button"  type="submit" >Submit</button>    </div>

  
</form>
</div>
</div>
